$pip-green-light: #00cc00;
$pip-green: #00ff00;
$pip-green-dark: #006600;
$pip-green-darkest: #003300;
$pip-black: #001100;

$gray-darkest: #111111;
$gray-darker: #2c2c2c;
$gray-dark: #393939;
$gray: gray;
$gray-light: #999999;
$gray-lighter: #f0f0f0;
$gray-lightest: #f8f8f8;

$warn: #ff6b6b;
$caution: #e4f17f;
$info: #8ec1ff;

$black: #000000;
$white: #ffffff;
