// Font families
$default-font-family: 'Roboto', sans-serif;

// Font sizes
$font-xxs: 13px;
$font-xs: 14px;
$font-sm: 15px;
$font-md: 16px;
$font-lg: 24px;
$font-xl: 28px;
$font-xxl: 32px;

// Heights
$header-height: 50px;
$navbar-height: 32px;
$footer-height: 2rem;

// Widths
$section-max-width: 800px;
