// Font
$default-font-family: 'Roboto Mono', monospace;
$secondary-font-family: monospace;

// Font sizes
$font-xxs: 13px;
$font-xs: 14px;
$font-sm: 15px;
$font-md: 16px;
$font-lg: 24px;
$font-xl: 28px;
$font-xxl: 32px;

// Heights
$gdpr-banner-height: 80px;
$header-height: 56px;
$navbar-height: 32px;
$footer-height: 2rem;

// Widths
$section-max-width: 800px;

// Z-Indexes
$gdpr-banner-z-index: 9999;
