@use 'font' as font;
@use 'colors' as col;

body,
html {
  @include font.default-font();

  background-color: col.$pip-black;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    position: fixed;
    inset: 0;
    z-index: 1;
    pointer-events: none;
    background: repeating-linear-gradient(
      to bottom,
      rgba(0, 255, 0, 0.015) 0px,
      rgba(0, 255, 0, 0.015) 1px,
      transparent 1px,
      transparent 3px
    );
  }

  // Optional green screen tint
  &::before {
    content: '';
    position: fixed;
    inset: 0;
    background: rgba(0, 255, 0, 0.01);
    mix-blend-mode: screen;
    pointer-events: none;
    z-index: 0;
  }
}
