@use 'colors' as col;

button {
  box-sizing: border-box;
  background-color: col.$pip-green;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s;
  transition: color 0.2s;
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-weight: bolder;
}

button:hover {
  background-color: #53db57;
}

button:disabled {
  background-color: col.$pip-green-darkest;
  color: col.$gray-darkest;
  cursor: not-allowed;
}
