@use '../../../styles/colors' as col;
@use '../../../styles/variables' as var;
// @use '../../../styles/breakpoints' as bps;
// @use '../../../styles/scrollbar' as sb;

:host {
  display: block;
}

.post-group {
  padding: 1rem;

  .forum-post {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: col.$pip-green;

    .post-header {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      flex-wrap: wrap;

      h3 {
        margin: 0;
        color: col.$pip-green-light;
      }

      .timestamp {
        font-size: var.$font-xs;
        color: col.$pip-green-light;
      }
    }

    .post-body {
      p {
        margin: 0.5rem 0;
        color: col.$pip-green;

        &.category {
          margin: 0 0 1rem 0;
          color: col.$pip-green-darkest;
        }
      }

      .signature {
        font-size: var.$font-xs;
        color: col.$pip-green-lightest;
        font-style: italic;
        margin-top: 1rem;
      }
    }
  }
}
