@use '../../../styles/colors' as col;
@use '../../../styles/variables' as var;
// @use '../../../styles/breakpoints' as bps;
// @use '../../../styles/scrollbar' as sb;

:host {
  display: block;
}

.post-group {
  padding: 1rem;

  .forum-post {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: col.$pip-green;

    .post-header {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      flex-wrap: wrap;
      margin-bottom: 1rem;

      .category {
        font-size: var.$font-sm;
        margin: 0;
        color: col.$pip-green-darkest;
      }
    }

    .post-body {
      p {
        background-color: rgba(col.$pip-green-darkest, 0.25);
        font-size: var.$font-md;
        margin: 0;
        padding: 1rem;
        border-radius: 4px;
        color: col.$pip-green;
      }

      .signature {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 1rem;

        .author {
          font-size: var.$font-xs;
          color: col.$pip-green-lightest;
          font-style: italic;
        }

        .timestamp {
          font-size: var.$font-xs;
          color: col.$pip-green-light;
        }
      }
    }
  }
}
