@use '../../../styles/colors' as col;
// @use '../../../styles/variables' as var;
// @use '../../../styles/breakpoints' as bps;
// @use '../../../styles/scrollbar' as sb;

:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;
}

.loading {
  display: inline-flex;
  justify-content: center;
  margin: 0 0 1rem 0;
}

.actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;

  form {
    display: inline-flex;

    pro-input-textarea {
      display: inline-flex;
      margin-bottom: 1rem;
      width: 100%;
    }
  }
}

.action-link {
  color: col.$pip-green-light;
  text-decoration: underline;
  font-weight: bold;
  margin-right: 1rem;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  pip-button {
    margin-left: 0.5rem;
  }
}
