@use '../../../styles/colors' as col;
@use '../../../styles/variables' as var;
// @use '../../../styles/breakpoints' as bps;
// @use '../../../styles/scrollbar' as sb;

:host {
  display: block;
}

.post-group {
  padding: 1rem;

  .forum-post {
    color: col.$pip-green;
    display: flex;
    flex-direction: column;
    text-decoration: none;

    .post-header {
      display: flex;
      flex-wrap: nowrap;
      font-weight: bold;
      hyphens: auto;
      justify-content: space-between;
      margin-bottom: 2rem;
      overflow-wrap: anywhere;
      white-space: normal;
      word-break: break-word;

      .category {
        color: col.$pip-green-darkest;
        font-size: var.$font-sm;
        margin: 0;
        min-width: 150px;
      }
    }

    .post-body {
      p {
        background-color: rgba(col.$pip-green-darkest, 0.25);
        border-radius: 4px;
        color: col.$pip-green;
        font-size: var.$font-md;
        hyphens: auto;
        margin: 0;
        overflow-wrap: anywhere;
        padding: 1rem;
        white-space: normal;
        word-break: break-word;

        ::ng-deep img {
          max-width: 100%;
          width: auto;
          height: auto;
        }
      }

      .signature {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 2rem;

        .author {
          color: col.$pip-green-lightest;
          font-size: var.$font-xs;
          font-style: italic;
        }

        .timestamp {
          color: col.$pip-green-light;
          font-size: var.$font-xs;
        }
      }
    }
  }
}
