<form [formGroup]="formGroup" (ngSubmit)="createPost()">
  <pro-input
    [formControl]="formGroup.controls.title"
    appearance="outline"
    label="Title"
    placeholder="Enter post title"
    type="text"
  ></pro-input>

  <pro-input-dropdown
    [formControl]="formGroup.controls.category"
    label="Category"
    placeholder="Select an option"
  >
    @for (option of forumCategoryList; track option) {
      <pro-input-dropdown-option [value]="option">{{
        option
      }}</pro-input-dropdown-option>
    }
  </pro-input-dropdown>

  <quill-editor
    [formControl]="formGroup.controls.content"
    [modules]="editorModules"
    [formats]="allowedFormats"
    (onContentChanged)="onEditorChange($event)"
    format="object"
    style="height: 300px"
    placeholder="Share your thoughts..."
  ></quill-editor>

  <div class="action-buttons">
    <pip-button type="button" (click)="cancel()" [disabled]="isSubmitting()"
      >Cancel</pip-button
    >
    <pip-button
      [disabled]="formGroup.invalid || formGroup.disabled || isSubmitting()"
      styling="filled"
      type="submit"
      >Post</pip-button
    >
  </div>
</form>
