@if (post(); as post) {
  <div class="post-group">
    @if (linkedPost) {
      <a [routerLink]="post.url" class="forum-post">
        <ng-container *ngTemplateOutlet="postBody; context: { post: post }" />
      </a>
    } @else {
      <div class="forum-post">
        <ng-container *ngTemplateOutlet="postBody; context: { post: post }" />
      </div>
    }
  </div>
} @else {
  <p class="error">[ERROR] Post data is unavailable.</p>
}

<ng-template #postBody let-post="post">
  <div class="post-header">
    <h5>{{ post.title }}</h5>
    @if (!simple) {
      <p class="category">Category: {{ post.category }}</p>
    }
  </div>
  <div class="post-body">
    @if (simple) {
      <p>{{ post.content }}</p>
    } @else {
      <p [innerHTML]="post.contentHtml"></p>
    }
    <div class="signature">
      <span class="author">- {{ post.authorName }}</span>
      <span class="timestamp">
        {{ post.createdAt | dateTime: 'MM/dd/yyyy, hh:mm a (ZZZZ)' }}
      </span>
    </div>
  </div>
</ng-template>
