<aside>
  <h3>
    <span>Log</span>
    <pip-button (click)="clearLog()" [disabled]="!signals.logMessages().length">
      Clear
    </pip-button>
  </h3>
  <div>
    @for (entry of signals.logMessages(); track entry) {
      <div>
        <b>λ</b>&nbsp;&nbsp;{{ entry.message }}{{ entry.url ? '&#58;' : '' }}
        @if (entry.url) {
          <a [href]="entry.url" target="_blank">{{ entry.url }}</a>
        }
      </div>
    }
    @if (signals.logMessages().length === 0) {
      <div>λ Log empty.</div>
    }
  </div>
</aside>
