@use '../../styles/colors' as col;
@use '../../styles/scrollbar' as sb;

:host {
  overflow-x: hidden;
  overflow-y: auto;
  @include sb.scrollbar;
}

h3 {
  border-bottom: 2px dashed col.$pip-green;
  display: flex;
  flex-direction: row;
  line-height: 2rem;
  margin-top: 0;
  padding-bottom: 1rem;
  justify-content: space-between;
  width: 100%;
}

pip-button {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 600;
}
