@use '../../../styles/animations/border-animation' as ani;
// @use '../../../styles/breakpoints' as bps;
// @use '../../../styles/colors' as col;
// @use '../../../styles/scrollbar' as sb;

:host {
  box-sizing: border-box;
  border: 2px dashed transparent;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;

  &:hover {
    @include ani.borderAnimation;
  }
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  pro-input-checkbox,
  pro-input-dropdown {
    $gap: 2rem;
    flex: 0 0 calc(50% - ($gap / 2));
    margin-bottom: 1rem;
    max-width: calc(50% - ($gap / 2));
    width: 100%;
  }
}
