<h2 mat-dialog-title>Update Photo</h2>

<mat-dialog-content class="mat-typography avatar-content">
  @if (!selectedImageEvent) {
    <div class="image-preview">
      <img
        [src]="croppedImage || user.photoURL || 'images/user/user.png'"
        alt="User Image"
        class="preview-img"
        referrerpolicy="no-referrer"
      />
    </div>
    <div class="controls">
      <input
        (change)="onFileSelected($event)"
        [disabled]="isSaving()"
        accept="image/*"
        id="avatar-file"
        type="file"
      />
      <label for="avatar-file" class="upload-label">Choose Image</label>
      @if (user.photoURL) {
        <pip-button
          (click)="deleteImage()"
          [disabled]="isSaving()"
          type="button"
          >Delete Current</pip-button
        >
      }
    </div>
  } @else {
    <div class="cropper-box">
      <image-cropper
        (imageCropped)="onImageCropped($event)"
        (loadImageFailed)="onLoadImageFailed($event)"
        [aspectRatio]="1"
        [imageChangedEvent]="selectedImageEvent"
        [maintainAspectRatio]="true"
        [resizeToWidth]="300"
        [style.height.px]="300"
        [style.width.px]="300"
        class="cropper"
        format="png"
        output="base64"
      ></image-cropper>
    </div>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <pip-button (click)="cancel()" [disabled]="isSaving()">Cancel</pip-button>
  @if (selectedFile) {
    <pip-button (click)="save()" [disabled]="isSaving()" type="button"
      >Save</pip-button
    >
  }
</mat-dialog-actions>
