<main>
  <h1>Pip-Boy 3000 Emulator</h1>
  <p>
    This feature is planned for a future update and will emulate the Pip-Boy
    3000 as seen in <em>Fallout 3</em>.
  </p>
  <p>
    Development efforts are underway to incorporate official assets from
    <em>Fallout 3</em>, aiming to deliver an experience that stays true to the
    original design.
  </p>
  <p>
    In the meantime, you can help make this a reality by expressing your support
    to Bethesda at
    <a href="mailto:info@bethsoft.com">info&#64;bethsoft.com</a>.
  </p>
  <a href="/">Return to Home</a>
</main>
