@use '@angular/material' as mat;

html {
  // Light theme
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$green-palette,
        tertiary: mat.$green-palette,
      ),
      typography: 'Roboto Mono',
      density: 0,
    )
  );
}
