@use '@angular/material' as mat;
@use '../colors' as col;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.sidenav-overrides(
    (
      container-background-color: col.$black,
      container-text-color: col.$pip-green,
      content-background-color: transparent,
    )
  );
}
