@use '@angular/material' as mat;
@use '../colors' as col;

:root {
  @include mat.datepicker-overrides(
    (
      calendar-body-label-text-color: col.$pip-green,
      calendar-container-background-color: col.$pip-black,
      calendar-container-text-color: col.$pip-green,
      calendar-date-hover-state-background-color: col.$pip-green-dark,
      calendar-date-selected-state-text-color: col.$pip-green,
      calendar-date-text-color: col.$pip-green,
      calendar-header-text-color: col.$pip-green-dark,
      calendar-navigation-button-icon-color: col.$pip-green,
      calendar-period-button-icon-color: col.$pip-green,
      calendar-period-button-text-color: col.$pip-green-dark,
      range-input-disabled-state-text-color: col.$pip-green-darkest,
    )
  );
}

pro-input-datepicker {
  &:hover {
    .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
        .mdc-text-field--focused
      ):hover
      .mat-mdc-notch-piece {
      border-color: var(
        --mat-form-field-outlined-hover-outline-color,
        var(--mat-sys-on-surface)
      );
    }
  }

  mat-form-field.mat-mdc-form-field {
    outline: none;
    border-radius: 4px;

    &.mat-form-field-disabled {
      outline: 1px solid col.$pip-green-darkest;
    }
  }

  .mdc-text-field--outlined {
    .mdc-floating-label {
      color: col.$pip-green;
    }
    &.mdc-text-field--disabled .mdc-floating-label {
      color: col.$pip-green-darkest;
    }
    &:not(.mdc-text-field--disabled) .mdc-floating-label,
    &:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover
      .mdc-floating-label {
      color: col.$pip-green;
    }
  }

  .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
      .mdc-text-field--focused
    ):hover
    .mat-mdc-notch-piece,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mat-mdc-notch-piece,
  .mat-mdc-input-element.mdc-text-field__input {
    border-color: col.$pip-green;
  }

  .mdc-text-field__input,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-text-field__input,
  .mat-mdc-form-field-infix
    > .mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-text-field__input {
    color: col.$pip-green;
  }

  input.mat-mdc-input-element::placeholder,
  .mdc-text-field--outlined.mdc-text-field--disabled input {
    color: col.$pip-green-dark !important;
  }

  .mdc-text-field--disabled + div.mat-mdc-form-field-subscript-wrapper {
    display: none;
    visibility: hidden;
  }

  .mat-form-field-disabled {
    margin-bottom: 20px;
  }
}

// CDK

mat-datepicker-content.mat-datepicker-content {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid col.$pip-green;
  border-radius: 4px;
}
