@use '@angular/material' as mat;
@use '../colors' as col;

:root {
  // Default colors
  @include mat.snack-bar-overrides(
    (
      button-color: col.$pip-green,
      container-color: col.$pip-green-darkest,
      supporting-text-color: col.$pip-green,
    )
  );
}

.mat-mdc-snack-bar-container,
mat-snack-bar-container.pip-snackbar {
  position: relative;
  bottom: 40px;
}

.mat-mdc-snack-bar-container {
  &.toast-error,
  &.toast-success {
    margin-top: 44px;
  }

  // Custom snackbar colors based on status = error
  &.toast-error > .mat-mdc-snackbar-surface {
    background-color: col.$warn;
    color: col.$black;
    font-weight: bold;

    button {
      .mdc-button__label {
        color: col.$black;
      }

      &:hover {
        background-color: red;
      }
    }
  }

  // Custom snackbar colors based on status = success
  &.toast-success > .mat-mdc-snackbar-surface {
    background-color: col.$pip-green-light;
    color: col.$black;
    font-weight: bold;

    button {
      .mdc-button__label {
        color: col.$black;
      }

      &:hover {
        background-color: col.$pip-green-dark;
      }
    }
  }
}
