<main>
  <section>
    <h2>Stats</h2>
    <p>
      Welcome to the <strong>Device Stats & File Explorer Terminal</strong>.
      This page provides an in-depth overview of the current state of your
      <strong>Pip-Boy 3000 Mk V</strong>, including installed files, available
      space, and other system-level data.
    </p>

    <img
      class="fan-art"
      src="images/fan-art/stats_sm.png"
      alt="Fan Art"
      title="Fan Art"
    />
    <p>
      You can browse the internal file system just like a classic terminal
      interface — view file sizes, and folder structures, all rendered with that
      familiar green glow. Whether you're managing apps, logs, saved media, or
      system data, this page gives you full visibility into what's under the
      hood.
    </p>
    <p>
      Use this page to audit space usage, locate custom apps, or monitor changes
      after a firmware update or sync operation. If you're building for the
      Pip-Boy yourself, this is the best place to ensure your files landed
      exactly where you expect them.
    </p>
  </section>
  <section>
    <pip-actions-primary />
  </section>
  <section>
    <pip-file-explorer />
  </section>
  <section>
    <pip-actions-quick-nav disableStatsTab />
  </section>
</main>

<pip-log />
