@use '../../styles/breakpoints' as bps;
@use '../../styles/colors' as col;
@use '../../styles/scrollbar' as sb;

:host {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  padding: 1rem 1rem 0 1rem;
  flex-direction: row;

  @include bps.media('max', 'md') {
    flex-direction: column;
  }

  main,
  pip-log {
    flex: 1 1 50%;
    max-height: 100%;
    padding: 1rem;
  }

  @include bps.media('max', 'md') {
    > main {
      flex: 1 1 70%;
    }

    > pip-log {
      border-top: 2px dashed col.$pip-green;
      flex: 1 1 30%;
    }
  }

  main {
    @include sb.scrollbar;
    align-content: flex-start;
    border-right: 2px dashed col.$pip-green;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-x: hidden;
    overflow-y: auto;

    @include bps.media('max', 'md') {
      border-right: none;
    }

    > section {
      box-sizing: border-box;
      flex: 0 1 calc(50% - 0.5rem);
      min-width: 300px;

      &:first-child {
        flex: 0 1 100%;
      }

      @include bps.media('max', 'md') {
        flex: 0 1 calc(100% - 0.5rem);
      }

      button {
        margin-bottom: 1rem;
        width: 100%;
      }
    }
  }
}

input {
  height: 2rem;
  width: calc(100% - 0.5rem);
  margin-bottom: 1rem;
}

.file-upload {
  position: relative;
  margin-bottom: 1rem;

  input[type='file'] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
  }

  label {
    background-color: col.$pip-green;
    border-radius: 0.25rem;
    border: none;
    color: col.$gray-darkest;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: bolder;
    padding: 0.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    width: calc(100% - 2rem);

    &.disabled {
      background-color: col.$pip-green-darkest;
      color: col.$gray-darkest;
      cursor: not-allowed;
    }
  }

  label:not(.disabled):hover {
    background-color: col.$pip-green-light;
  }
}
