@use '../../styles/animations/border-animation' as ani;
@use '../../styles/colors' as col;

:host {
  border: 2px dashed transparent;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &:hover {
    @include ani.borderAnimation;
  }
}

h3 {
  margin-top: 0;
}

pip-button {
  margin-bottom: 1rem;
  width: 100%;
}

form {
  margin-bottom: 1rem;
}
