[submodule "core"]
	path = public/scripts/core
	url = https://github.com/espruino/EspruinoAppLoaderCore.git
[submodule "webtools"]
	path = public/scripts/webtools
	url = https://github.com/espruino/EspruinoWebTools.git
[submodule "apps"]
	path = public/apps
	url = https://github.com/CodyTolene/pip-boy-apps.git
[submodule "public/scripts/core"]
	path = public/scripts/core
	url = https://github.com/espruino/EspruinoAppLoaderCore.git
[submodule "public/scripts/webtools"]
	path = public/scripts/webtools
	url = https://github.com/espruino/EspruinoWebTools.git
[submodule "public/apps"]
	path = public/apps
	url = https://github.com/CodyTolene/pip-boy-apps.git
