<h1>Community Forum</h1>

@if (userChanges | async) {
  <a [routerLink]="forumNewPostLink">New Post</a>
} @else {
  <a [routerLink]="loginLink" [queryParams]="getReturnUrlQueryParams()"
    >New Post</a
  >
}

<section class="forum-posts">
  <h2>Recent Posts</h2>
  @if (postsChanges | async; as posts) {
    @if (posts.length === 0) {
      <ng-container *ngTemplateOutlet="noPostsTemplate" />
    } @else {
      @for (post of posts; track post.id) {
        <div class="post-group">
          <a [routerLink]="getPostViewLink(post.id)" class="forum-post">
            <div class="post-header">
              <h3>{{ post.title }}</h3>
              <span class="timestamp">{{
                post.createdAt | dateTime: 'MM/dd/yyyy, hh:mm a (ZZZZ)'
              }}</span>
            </div>
            <div class="post-body">
              <p>{{ post.content }}</p>
              <p>Category: {{ post.category }}</p>
              <p class="signature">Author: {{ post.authorName }}</p>
            </div>
          </a>
          {{ post | json }}
        </div>
      }
    }
  } @else {
    <ng-container *ngTemplateOutlet="noPostsTemplate" />
  }
</section>

<ng-template #noPostsTemplate>
  @if (userChanges | async) {
    <p>No posts yet. Be the first to share something!</p>
  } @else {
    <p>
      No posts yet. Please <a [routerLink]="loginLink">log in</a> or
      <a [routerLink]="registerLink">register</a> to share something!
    </p>
  }
</ng-template>

<pip-footer />
