@use '../../styles/colors' as col;
@use '../../styles/variables' as var;
// @use '../../styles/breakpoints' as bps;
// @use '../../styles/scrollbar' as sb;

:host {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 1rem;
  padding: 0;
  background-color: transparent;
  color: col.$pip-green;
}

h3 {
  margin: 1.5rem 0 0 0;
}

.action-link {
  color: col.$pip-green-light;
  text-decoration: underline;
  font-weight: bold;
  margin-right: 1rem;
}

.loading {
  font-style: italic;
  color: col.$pip-green-light;
}

section {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  max-width: var.$page-max-width;
  padding: 0 1.5rem;
  width: 100%;

  &.intro {
    margin: 0 auto;
    max-width: var.$page-max-width;

    pip-title[h1] {
      margin-bottom: 2rem;
      text-align: center;
      width: 100%;
    }

    > p {
      font-style: italic;
      margin: 0 0 2rem;
      color: col.$pip-green-light;
    }
  }

  pip-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;

    > div.pip-grid {
      padding: 2rem;
      margin: 0;

      .pip-grid-item {
        min-height: 120px;
        justify-content: space-evenly;

        h4 {
          margin: 0;
        }
      }
    }
  }

  .forum-posts {
    padding: 1rem;
    margin-inline: 0;

    h2 {
      margin-top: 0;
      margin-bottom: 1rem;
      text-transform: uppercase;
      color: col.$pip-green-light;
    }

    .post-group {
      border-top: 1px dashed col.$pip-green-darkest;
      padding: 1rem;

      &:first-child {
        border-top: none;
        padding-top: 0;
      }

      &:hover {
        background-color: rgba(col.$pip-green-darkest-rgb, 0.1);
      }

      .forum-post {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: col.$pip-green;

        .post-header {
          display: flex;
          justify-content: space-between;
          font-weight: bold;
          flex-wrap: wrap;

          h3 {
            margin: 0;
            color: col.$pip-green-light;
          }

          .timestamp {
            font-size: var.$font-xs;
            color: col.$pip-green-light;
          }
        }

        .post-body {
          p {
            margin: 0.5rem 0;
            color: col.$pip-green;

            &.category {
              margin: 0 0 1rem 0;
              color: col.$pip-green-darkest;
            }
          }

          .signature {
            font-size: var.$font-xs;
            color: col.$pip-green-lightest;
            font-style: italic;
            margin-top: 1rem;
          }
        }
      }
    }

    .pagination {
      display: flex;
      justify-content: flex-end;
      margin: 1rem 0;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;

      pip-button {
        margin-left: 0.5rem;
      }
    }
  }
}

pip-footer {
  align-self: stretch;
  display: block;
  margin-top: auto;
}
