@use '../../styles/colors' as col;
// @use '../../styles/breakpoints' as bps;
// @use '../../styles/scrollbar' as sb;
// @use '../../styles/variables' as var;

:host {
  align-items: center;
  box-sizing: border-box;
  color: col.$pip-green;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  width: 100%;
}

.forum-posts {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  margin: 1rem;
  padding: 1rem;
  width: 100%;

  .post-group {
    display: flex;
    flex-direction: column;

    .forum-post {
      display: flex;
      flex-direction: column;

      .post-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
      .post-body p {
        margin: 0.5rem 0;
      }
    }
    .forum-post + .forum-post {
      margin-top: 1.5rem;
    }
  }
}

pip-footer {
  align-self: stretch;
  margin-top: auto;
  display: block;
}
