<main>
  <section>
    <h2>Radio</h2>
    <p>
      This page allows you to upload custom WAV files to your Pip-Boy's radio
      system. Once connected to the device, you can override the default radio
      tracks with your own selections, giving you full control over the
      soundtrack that plays during your wasteland adventures.
    </p>
    <img
      class="fan-art"
      src="images/fan-art/music_sm.png"
      alt="Fan Art"
      title="Fan Art"
    />
    <p>
      Music must be converted to a specific format before it can be played on
      the device. For more information on compatible audio, check out the
      documentation from the
      <a
        href="https://github.com/CodyTolene/pip-terminal?tab=readme-ov-file#music-"
        target="_blank"
      >
        Pip-Terminal Repo</a
      >
      or the
      <strong>RobCo Industries</strong>
      <a
        href="https://log.robco-industries.org/documentation/pipboy-3000/#audio"
        target="_blank"
      >
        website</a
      >.
    </p>
    <pip-actions-primary />
    <pip-actions-misc hideDeleteAllAppsButton />
  </section>

  <section>
    <h3>Radio Host/Voice Files</h3>
    <p>Upload WAV Files (DX01 - DX03)</p>
    <div
      *ngFor="let name of dxFileNames; let i = index"
      class="upload-container"
    >
      <pip-button
        (click)="playRadioFile(name)"
        [disabled]="disabledChanges | async"
      >
        Play current {{ name }}
      </pip-button>
      <pip-file-upload
        [accept]="['.wav']"
        [formControl]="formGroup.controls.dxFiles.controls[i]"
        [label]="'Select WAV File for ' + name"
      />
      <pip-button
        (click)="uploadFile(name)"
        [disabled]="
          !formGroup.controls.dxFiles.controls[i].value?.length ||
          (disabledChanges | async)
        "
      >
        Upload {{ name }}
      </pip-button>
      <div *ngIf="uploadProgress[name] > 0">
        <mat-progress-bar
          mode="determinate"
          [value]="uploadProgress[name]"
        ></mat-progress-bar>
      </div>
    </div>
  </section>

  <section>
    <h3>Radio Music Files</h3>
    <p>Upload WAV Files (MX01 - MX16)</p>
    <div
      *ngFor="let name of mxFileNames; let i = index"
      class="upload-container"
    >
      <pip-button
        (click)="playRadioFile(name)"
        [disabled]="disabledChanges | async"
      >
        Play current {{ name }}
      </pip-button>
      <pip-file-upload
        [accept]="['.wav']"
        [formControl]="formGroup.controls.mxFiles.controls[i]"
        [label]="'Select WAV File for ' + name"
      />
      <pip-button
        (click)="uploadFile(name)"
        [disabled]="
          !formGroup.controls.mxFiles.controls[i].value?.length ||
          (disabledChanges | async)
        "
      >
        Upload {{ name }}
      </pip-button>
      <div *ngIf="uploadProgress[name] > 0">
        <mat-progress-bar
          mode="determinate"
          [value]="uploadProgress[name]"
        ></mat-progress-bar>
      </div>
    </div>
  </section>
</main>

<pip-log />
