@use '../../styles/colors' as col;
@use '../../styles/variables' as var;

:host {
  align-items: center;
  box-sizing: border-box;
  color: col.$pip-green;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

pip-title {
  margin: 2.5rem 0 1rem 0;
}

section {
  box-sizing: border-box;
  max-width: var.$page-max-width;
  padding: 1rem;
  width: 100%;

  &:last-of-type {
    margin-bottom: 4rem;
  }
}

p {
  margin: 0 1rem 2rem 1rem;
}

pip-footer {
  align-self: stretch;
  margin-top: auto;
  display: block;
}
