@use '../../styles/breakpoints' as bps;
@use '../../styles/colors' as col;
@use '../../styles/variables' as var;

:host {
  background-color: col.$black;
  border-bottom: 1px solid col.$pip-green-darkest;
  display: block;
  height: var.$header-height;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header {
  height: var.$header-height;
  width: 100%;
}

.logo-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var.$page-max-width;
  padding: 0 1.5rem;

  .branding {
    align-items: center;
    display: flex;

    img.logo {
      height: 40px;
      margin-right: 1rem;
    }

    .site-title {
      color: col.$pip-green;
      font-family: var.$secondary-font-family;
      font-size: var.$font-xl;
      letter-spacing: 1px;
    }
  }

  .menu-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: center;

    > a {
      display: inline-block;
      font-family: var.$secondary-font-family;
      font-size: var.$font-xxs;
      margin-right: 1rem;
      max-width: 40rem;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      @include bps.media('max', 'xl') {
        max-width: 30rem;
      }

      @include bps.media('max', 'lg') {
        max-width: 20rem;
      }

      @include bps.media('max', 'md') {
        max-width: 8rem;
      }

      @include bps.media('max', 'sm') {
        max-width: 6rem;
      }
    }

    .orn {
      font-size: var.$font-xxs;
      margin: 0;
      padding: 0;
      padding-bottom: 1px;
    }
  }
}

button {
  cursor: pointer;
}

button {
  align-items: center;
  background: transparent;
  border: none;
  // color: col.$pip-green-dark;
  color: col.$pip-green;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-left: 1rem;

  &.user-logged-in {
    border-left: 1px dashed col.$pip-green-darkest;
  }

  // &:hover {
  //   color: col.$pip-green;
  // }

  > span {
    margin-right: 0.5rem;
  }
}

.label-with-cursor {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 0;

  .label-text {
    display: inline-block;
    font-family: var.$secondary-font-family;
    font-variant-ligatures: none;
    letter-spacing: 0;
    overflow: hidden;
    position: relative;
    text-align: left;
    white-space: pre;
    width: 8ch;
    z-index: 0;
  }

  .cursor {
    animation: blink 1s steps(1) infinite;
    background: currentColor;
    height: 1em;
    margin-left: 1.1ch;
    mix-blend-mode: normal;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1.25ch;
    z-index: 2;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

$left-padding: 0.5ch;
@for $i from 0 through 5 {
  .label-with-cursor.caret-#{$i} .cursor {
    left: calc(#{$i} * 1ch + $left-padding);
  }
}

@media (prefers-reduced-motion: reduce) {
  .label-with-cursor .cursor {
    animation: none;
  }
}

@include bps.media('max', 'md') {
  .logo-container > .branding > .site-title {
    font-size: var.$font-lg;
  }
}

@include bps.media('max', 'sm') {
  .logo-container > .branding > .site-title {
    font-size: var.$font-md;
  }
}

@include bps.media('max', 'xs') {
  .logo-container > .branding > .site-title {
    font-size: var.$font-sm;
  }
}
