@use '../../styles/breakpoints' as bps;
@use '../../styles/colors' as col;
@use '../../styles/variables' as var;

:host {
  background-color: col.$black;
  display: block;
  height: var.$header-height;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header {
  height: var.$header-height;
  width: 100%;
}

.logo-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1.5rem;

  .branding {
    align-items: center;
    display: flex;

    img.logo {
      height: 40px;
      margin-right: 1rem;
    }

    .site-title {
      color: col.$pip-green;
      font-family: monospace;
      font-size: var.$font-xl;
      letter-spacing: 1px;
    }
  }
}

mat-icon:hover {
  cursor: pointer;
}

@include bps.media('max', 'md') {
  .logo-container > .branding > .site-title {
    font-size: var.$font-lg;
  }
}

@include bps.media('max', 'sm') {
  .logo-container > .branding > .site-title {
    font-size: var.$font-md;
  }
}

@include bps.media('max', 'xs') {
  .logo-container > .branding > .site-title {
    font-size: var.$font-sm;
  }
}
