@use '../../styles/breakpoints' as bps;
@use '../../styles/colors' as col;
@use '../../styles/variables' as var;

header {
  background-color: col.$black;
  height: var.$header-height;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  .branding {
    display: flex;
    align-items: center;

    img.logo {
      height: 40px;
      margin-right: 1rem;
    }

    .site-title {
      color: col.$pip-green;
      font-family: monospace;
      font-size: var.$font-xl;
      letter-spacing: 1px;
    }
  }
}

@include bps.media('max', 'md') {
  .logo-container > .branding > .site-title {
    font-size: var.$font-lg;
  }
}

@include bps.media('max', 'sm') {
  .logo-container > .branding > .site-title {
    font-size: var.$font-md;
  }
}

@include bps.media('max', 'xs') {
  .logo-container > .branding > .site-title {
    font-size: var.$font-sm;
  }
}

.version {
  color: col.$pip-green;
  font-family: monospace;
  font-size: 1rem;
  opacity: 0.7;
}
