<header>
  <div class="logo-container">
    <div class="branding">
      <img
        src="images/favicon/android-chrome-192x192.png"
        alt="Logo"
        class="logo"
      />
      <a [routerLink]="homeUrl" class="site-title">Pip-Boy Terminal</a>
    </div>
    <div class="menu-container">
      <button
        (click)="toggleNavbar()"
        [attr.aria-expanded]="isNavbarOpenSignal()"
        aria-controls="primary-nav"
        id="menu-toggle"
        type="button"
      >
        <span class="label-with-cursor">
          @if (cursorSide === 'left') {
            <span class="cursor" aria-hidden="true"></span>
          }
          <span class="label-text">
            @if (isNavbarOpenSignal()) {
              Close
            } @else {
              Menu
            }
          </span>
          @if (cursorSide === 'right') {
            <span class="cursor" aria-hidden="true"></span>
          }
        </span>
        <mat-icon
          [fontIcon]="isNavbarOpenSignal() ? 'close' : 'menu'"
          aria-hidden="false"
        ></mat-icon>
      </button>
    </div>
  </div>
</header>
