@use '../../styles/breakpoints' as bps;
@use '../../styles/colors' as col;
@use '../../styles/variables' as var;

:host {
  background-color: col.$black;
  display: block;
  height: var.$header-height;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header {
  height: var.$header-height;
  width: 100%;
}

.logo-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1.5rem;

  .branding {
    align-items: center;
    display: flex;

    img.logo {
      height: 40px;
      margin-right: 1rem;
    }

    .site-title {
      color: col.$pip-green;
      font-family: monospace;
      font-size: var.$font-xl;
      letter-spacing: 1px;
    }
  }
}

button,
mat-icon:hover {
  cursor: pointer;
}

button {
  align-items: center;
  background: transparent;
  border: none;
  color: col.$pip-green;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  > span {
    margin-right: 0.5rem;
  }
}

.label-with-cursor {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-family: 'Courier New', Courier, monospace;
  color: col.$pip-green;

  &.cursor-left {
    flex-direction: row-reverse;
  }

  .label-text {
    white-space: nowrap;
  }

  .cursor {
    display: inline-block;
    width: 1.25ch;
    height: 1em;
    background-color: col.$pip-green-dark;
    animation: blink 1s steps(1) infinite;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .label-with-cursor .cursor {
    animation: none;
  }
}

@include bps.media('max', 'md') {
  .logo-container > .branding > .site-title {
    font-size: var.$font-lg;
  }
}

@include bps.media('max', 'sm') {
  .logo-container > .branding > .site-title {
    font-size: var.$font-md;
  }
}

@include bps.media('max', 'xs') {
  .logo-container > .branding > .site-title {
    font-size: var.$font-sm;
  }
}
