<div class="sponsors-thank-you">
  <h2>Thank you to all Atomic Sponsors!</h2>
  <p>
    Your support helps keep the vault online. Your generosity is greatly
    appreciated!
  </p>
</div>

<div class="sponsors-grid">
  <div class="sponsor-card">
    <a href="images/sponsors/theeohn_megistus.jpg" target="_blank">
      <div class="sponsor-image-wrapper">
        <img
          src="images/sponsors/theeohn_megistus_250x250.png"
          alt="Sponsor 1"
        />
      </div>
    </a>
    <div class="sponsor-name">
      Theeohn Megistus
      <div class="sponsor-donation">$10 / month</div>
    </div>
  </div>
</div>

<pip-button (click)="openSponsorPage()">BECOME A SPONSOR!</pip-button>
