// @use '../../styles/colors' as col;
// @use '../../styles/breakpoints' as bps;
// @use '../../styles/scrollbar' as sb;
// @use '../../styles/variables' as var;

:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.loading {
  display: inline-flex;
  justify-content: center;
  margin: 0 0 1rem 0;
}

.actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  form {
    display: inline-flex;

    pro-input-textarea {
      display: inline-flex;
      margin-bottom: 1rem;
      width: 100%;
    }
  }
}

pip-panel {
  flex: 0 1 100%;
}

.pagination {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 1rem 0 2rem 0;

  pip-button {
    height: auto;
    margin-left: 1rem;
  }
}
