@use '../../../styles/colors' as col;
@use '../../../styles/variables' as var;
// @use '../../../styles/breakpoints' as bps;
// @use '../../../styles/scrollbar' as sb;

:host {
  display: block;
}

.comment-group {
  padding: 1rem;

  .forum-comment {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: col.$pip-green;

    .comment-body {
      p {
        margin: 0;
        color: col.$pip-green;
      }

      .signature {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 1rem;

        .author {
          font-size: var.$font-xs;
          color: col.$pip-green-lightest;
          font-style: italic;
        }

        .timestamp {
          font-size: var.$font-xs;
          color: col.$pip-green-light;
        }
      }
    }
  }
}
