<main>
  <section class="intro">
    <pip-title h2>Update</pip-title>
    <a [routerLink]="'/' + PAGES['Pip-Boy 3000 Mk V Companion App']"
      >&lt; BACK TO PIP-BOY 3000 MK V</a
    >
    <p>
      On this page you can update your Pip-Boy&nbsp;3000&nbsp;Mk&nbsp;V's
      firmware and operating system.
    </p>
    <img
      class="fan-art"
      src="images/fan-art/connect_sm.png"
      alt="Fan Art"
      title="Fan Art"
    />
  </section>
  <section>
    <pip-actions-primary />
  </section>
  <section>
    <pip-actions-firmware-upgrade />
  </section>
</main>

<pip-log />
