// @use '../../styles/breakpoints' as bps;
@use '../../styles/colors' as col;

:host {
  align-items: center;
  background: rgba(col.$pip-green-lightest, 0.8);
  border-radius: 4px;
  color: col.$pip-black;
  display: inline-flex;
  font-size: 0.75rem;
  font-weight: bolder;
  height: 20px;
  justify-content: center;
  letter-spacing: 0.08em;
  padding: 0.125rem 0.4rem;
}
