@use '../../styles/breakpoints' as bps;
@use '../../styles/colors' as col;
@use '../../styles/scrollbar' as sb;
@use '../../styles/variables' as var;

:host {
  background-color: transparent;
  box-sizing: border-box;
  color: col.$pip-green;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: var.$header-height;
  width: 100%;
}

main {
  @include sb.scrollbar;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;

  section {
    box-sizing: border-box;
    padding: 1rem;
    max-width: 100%;
    width: 100%;
    word-wrap: break-word;

    > p {
      max-width: var.$section-max-width;
      margin-bottom: 2rem;
    }

    &.intro {
      margin: 0 auto;
      max-width: var.$section-max-width;
    }

    &.app-selection,
    &.sponsors,
    &.developers,
    &.support,
    &.disclaimer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &.support,
    &.developers {
      margin-top: 2rem;

      a > h4 {
        margin: 0;
      }
    }
  }
}

.pip-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 2rem;
  max-width: 1000px;
  width: 100%;

  &-item {
    align-items: center;
    background-color: rgba(0, 255, 0, 0.05);
    border-radius: 4px;
    border: 1px solid col.$pip-green;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 1rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 250px;

    img {
      display: block;
      height: auto;
      width: 100%;
      z-index: 0;

      &.sponsor {
        filter: grayscale(1) brightness(0.8) contrast(1.2);
        mix-blend-mode: screen;
      }
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: rgba(0, 255, 0, 0.05);
      mix-blend-mode: screen;
      z-index: 1;
    }

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(
        rgba(0, 255, 0, 0.15) 49%,
        rgba(0, 255, 0, 0.05) 51%
      );
      background-size: 100% 4px;
      pointer-events: none;
      z-index: 2;
      animation: scanlines 1s linear infinite;
    }

    h4 {
      color: col.$pip-green;
      font-weight: normal;
      margin: 1rem 0 0 0;
      position: relative;
      text-shadow:
        0 0 2px col.$pip-green,
        0 0 2px col.$pip-green;
      z-index: 0;
    }

    span {
      color: col.$pip-green;
      padding: 0.5rem 0;
      position: relative;
      z-index: 0;
    }

    &:hover {
      box-shadow: 0 0 10px col.$pip-green;
      transform: scale(1.03);
    }
  }
}

@keyframes scanlines {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 4px;
  }
}

h1 {
  color: col.$pip-green-dark;
  font-size: var.$font-xl;
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;

  &.active {
    color: col.$pip-green;
  }

  &.community-header {
    margin-top: 0;
  }
}

h2,
h3 {
  margin: 0;
}

h1,
h2,
h3,
p {
  color: col.$pip-green;
  text-align: center;
  width: 100%;
}

pip-button {
  margin: 1rem auto;
  max-width: var.$section-max-width;
}

hr.pip-divider {
  border: 0;
  border-top: 4px solid col.$pip-green-darkest;
  // box-shadow:
  //   0 0 6px col.$pip-green,
  //   0 0 12px col.$pip-green;
  width: 80%;
  margin: 3rem auto;
}
