@use '../../styles/breakpoints' as bps;
@use '../../styles/colors' as col;
@use '../../styles/scrollbar' as sb;
@use '../../styles/variables' as var;

$icon-size: 400px;

:host {
  background-color: transparent;
  box-sizing: border-box;
  color: col.$pip-green;
  display: flex;
  height: 100%;
  width: 100%;
}

main {
  @include sb.scrollbar;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1rem 1rem 0 1rem;
  width: 100%;

  section {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;

    &.intro {
      max-width: 800px;
      margin: 0 auto;
    }

    &.app-selection,
    &.sponsors {
      display: flex;
      justify-content: center;
    }

    &.fan-art {
      border-bottom: 2px dashed col.$pip-green;
      max-width: 800px;
      margin: 0 auto;

      img {
        max-width: 400px;
        height: auto;
        display: block;
        margin: 0 auto;
      }
    }
  }
}

.pip-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 2rem;
  max-width: 1000px;
  width: 100%;

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 255, 0, 0.05);
    padding: 1rem;
    border: 1px solid col.$pip-green;
    border-radius: 4px;
    width: 250px;
    overflow: hidden;
    text-decoration: none;
    position: relative;

    img {
      width: 100%;
      height: auto;
      display: block;
      z-index: 0;

      &.sponsor {
        mix-blend-mode: screen;
        filter: grayscale(1) brightness(0.8) contrast(1.2);
      }
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: rgba(0, 255, 0, 0.05);
      mix-blend-mode: screen;
      z-index: 1;
    }

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(
        rgba(0, 255, 0, 0.15) 49%,
        rgba(0, 255, 0, 0.05) 51%
      );
      background-size: 100% 4px;
      pointer-events: none;
      z-index: 2;
      animation: scanlines 1s linear infinite;
    }

    h4 {
      margin: 1rem 0 0 0;
      color: col.$pip-green;
      font-size: 1.1rem;
      font-weight: normal;
      text-shadow:
        0 0 2px col.$pip-green,
        0 0 2px col.$pip-green;
      position: relative;
      z-index: 0;
    }

    span {
      padding: 0.5rem 0;
      font-size: 0.8rem;
      color: col.$pip-green;
      position: relative;
      z-index: 0;
    }

    &:hover {
      transform: scale(1.03);
      box-shadow: 0 0 10px col.$pip-green;
    }
  }
}

@keyframes scanlines {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 4px;
  }
}

h1 {
  margin-bottom: 1rem;
  color: col.$pip-green-dark;
  text-align: center;
  width: 100%;

  &.active {
    color: col.$pip-green;
  }
}

h1,
h2,
h3,
p {
  color: col.$pip-green;
  text-align: center;
  width: 100%;
}

pip-button {
  margin: 1rem auto;
  max-width: 800px;
}
