@use '../../styles/breakpoints' as bps;
@use '../../styles/colors' as col;
@use '../../styles/variables' as var;

$icon-size: 400px;

:host {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 1rem 0 1rem;
  width: 100%;
}

main {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  section {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;

    &.fan-art {
      border-bottom: 2px dashed col.$pip-green;
      max-width: 800px;
      margin: 0 auto;
    }

    &.intro {
      max-width: 800px;
      margin: 0 auto;
    }

    img {
      max-width: 400px;
      height: auto;
      display: block;
      margin: 0 auto;
    }

    .image-note {
      font-size: var.$font-xxs;
    }
  }
}

mat-icon.status-icon {
  color: col.$pip-green-dark;
  display: block;
  align-items: center;
  font-size: $icon-size;
  height: $icon-size;
  justify-content: center;
  margin: 0 auto;
  min-width: $icon-size;
  margin-top: 1rem;

  &.active {
    color: col.$pip-green;
  }

  @include bps.media('max', 'md') {
    width: calc($icon-size / 2);
    height: calc($icon-size / 2);
    font-size: calc($icon-size / 2);
    min-width: calc($icon-size / 2);
    text-align: center;
  }
}

h1 {
  margin-bottom: 1rem;
  color: col.$pip-green-dark;
  text-align: center;
  width: 100%;

  &.active {
    color: col.$pip-green;
  }
}

h1,
h2,
h3,
p {
  color: col.$pip-green;
  text-align: center;
  width: 100%;
}

pip-button {
  margin: 1rem auto;
  max-width: 800px;
}
