@use '../../styles/breakpoints' as bps;
@use '../../styles/colors' as col;
@use '../../styles/variables' as var;

:host {
  align-items: center;
  box-sizing: border-box;
  color: col.$pip-green;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
  height: 100%;
  width: 100%;
}

pip-divider {
  margin: 0 auto;
  max-width: var.$page-max-width;
  padding: 0 2rem;
}

pip-footer {
  margin-top: 4rem;
}
