@use '../../styles/breakpoints' as bps;
@use '../../styles/colors' as col;
@use '../../styles/variables' as var;

:host {
  align-items: center;
  box-sizing: border-box;
  color: col.$pip-green;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
  height: 100%;
  width: 100%;

  section {
    box-sizing: border-box;
    padding: 1rem;
    max-width: 100%;
    width: 100%;
    word-wrap: break-word;

    > p {
      max-width: var.$section-max-width;
      margin-bottom: 2rem;
    }

    > pip-panel {
      max-width: var.$section-max-width;
      padding: 1rem;
    }

    &.intro {
      margin: 0 auto;
      max-width: var.$section-max-width;
    }

    &.pip-selection,
    &.notice,
    &.sponsors,
    &.developers,
    &.support,
    &.disclaimer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &.pip-selection {
      .pip-grid {
        margin-bottom: 4rem;
      }

      p.note {
        font-size: var.$font-xxs;
        margin: 0 0 0.5rem 0;
      }
    }

    &.support,
    &.developers {
      margin-top: 2rem;

      a > h4 {
        margin: 0;
      }
    }

    pip-title {
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 2rem 0 3rem 0;
    }

    &.forum {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;

      .forum-header {
        align-items: center;
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        flex-direction: row;
        margin-bottom: 1rem;

        pip-title {
          margin: 0;
        }
      }

      .actions {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
      }
    }
  }
}

pip-title[h1] {
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;

  &.active {
    color: col.$pip-green;
  }

  &.community-header {
    margin-top: 0;
  }
}

h2,
h3 {
  margin: 0;
}

h1,
h2,
h3,
p {
  color: col.$pip-green;
  text-align: center;
  width: 100%;
}

pip-button {
  margin: 1rem auto;
  max-width: var.$section-max-width;
}

pip-divider {
  margin: 0 auto;
  max-width: var.$page-max-width;
  padding: 0 2rem;
}

pip-footer {
  margin-top: 4rem;
}
