@use '../../styles/colors' as col;
@use '../../styles/variables' as var;

:host {
  // Prevent host from affecting layout
  display: contents;
}

.gdpr-banner {
  align-items: center;
  background: rgba(10, 10, 10, 0.9);
  border-top: 1px solid col.$pip-green-dark;
  bottom: 0;
  color: #e2e8f0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  left: 0;
  min-height: var.$gdpr-banner-height;
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: var.$gdpr-banner-z-index;

  p {
    font-size: 0.9rem;
    margin: 0 0 0.5rem 0;
    text-align: center;

    a {
      color: col.$pip-green;
      text-decoration: underline;
    }
  }

  .actions {
    display: flex;
    gap: 1rem;

    button {
      background: transparent;
      border-radius: 4px;
      border: 1px solid col.$pip-green;
      color: col.$pip-green;
      cursor: pointer;
      padding: 0.25rem 1rem;

      &:hover {
        background: col.$pip-green;
        color: #000;
      }
    }
  }
}
