@use '../../styles/breakpoints' as bps;
@use '../../styles/colors' as col;
@use '../../styles/variables' as var;

:host {
  align-items: center;
  background: radial-gradient(
    ellipse at center,
    #051a0d 0%,
    #031208 60%,
    #020e06 100%
  );
  box-sizing: border-box;
  color: col.$pip-green;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

h1 {
  border-bottom: 2px solid col.$pip-green;
  margin: 0;
  width: 100%;
}

main {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

section {
  border: 1px solid col.$pip-green;

  &#id {
    flex-grow: 1;
  }

  &#img {
    display: flex;
    flex-direction: column;
    flex-grow: 0.1;
  }

  div {
    color: col.$pip-green;

    strong {
      color: col.$pip-green-dark;
    }
  }
}

pip-footer {
  align-self: stretch;
  display: block;
  margin-top: auto;
}
