@use '../../styles/breakpoints' as bps;
@use '../../styles/colors' as col;
@use '../../styles/variables' as var;

:host {
  align-items: center;
  background: radial-gradient(
    ellipse at center,
    #051a0d 0%,
    #031208 60%,
    #020e06 100%
  );
  box-sizing: border-box;
  color: col.$pip-green;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

main {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 800px;
  width: 100%;

  .user-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;
  }
}

pip-footer {
  align-self: stretch;
  display: block;
  margin-top: auto;
}
