@use '../../styles/breakpoints' as bps;
@use '../../styles/colors' as col;
@use '../../styles/variables' as var;

:host {
  align-items: center;
  box-sizing: border-box;
  color: col.$pip-green;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

main {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 800px;
  width: 100%;

  .user-actions {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;

    @include bps.media('max', 'md') {
      padding: 0 1rem;
    }
  }
}

pip-footer {
  align-self: stretch;
  display: block;
  margin-top: auto;
}
