@if (userChanges | async; as user) {
  <main>
    <section class="user-identification">
      <pip-user-identification [user]="user" />
    </section>
    @if (isEditModeSignal() === false) {
      <section class="user-actions">
        <pip-button
          (click)="startEdit()"
          [disabled]="isLoggingOutSignal()"
          type="button"
          >EDIT</pip-button
        >
        <pip-button
          (click)="signOut()"
          [disabled]="isLoggingOutSignal()"
          type="button"
          >LOG OUT</pip-button
        >
      </section>
    }
    <hr />
    <section class="posts">
      <pip-forum-post-wall [authorId]="user.uid" simple />
    </section>
  </main>
} @else {
  <pip-loading center>LOADING USER PROFILE</pip-loading>
}

<pip-footer />
