@use '../../styles/breakpoints' as bps;
@use '../../styles/colors' as col;
// @use '../../styles/scrollbar' as sb;
@use '../../styles/variables' as var;

:host {
  align-items: center;
  box-sizing: border-box;
  color: col.$pip-green;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  width: 100%;
}

pip-title {
  margin: 3rem 1rem;
}

.forgot-password-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1.5rem;
  max-width: var.$section-max-width;
  text-align: center;
  width: 100%;
}

.notice {
  font-style: italic;
  opacity: 0.8;
}

.forgot-password-form-container {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;

  @include bps.media('max', 'sm') {
    padding: 1rem;
    max-width: 100%;

    pip-forgot-password-form {
      width: 100%;
    }
  }
}

pip-footer {
  align-self: stretch;
  display: block;
  margin-top: auto;
}
