// @use '../../styles/breakpoints' as bps;
@use '../../styles/colors' as col;
// @use '../../styles/scrollbar' as sb;
@use '../../styles/variables' as var;

:host {
  display: block;
  margin: 0 auto;
  width: var.$auth-forms-width;
  padding: 0;
}

form {
  border: 2px solid col.$pip-green-darkest;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;

  pro-input {
    flex: 0 0 100%;
    margin-bottom: 1rem;
    max-width: 100%;
    width: 100%;
  }
}

.form-error {
  color: col.$warn;
  margin-top: 0.5rem;
}

.form-success {
  color: col.$pip-green-light;
  margin-top: 0.5rem;
}

p {
  margin-top: 1rem;
  text-align: center;
}
