@use '../../styles/breakpoints' as bps;
@use '../../styles/colors' as col;
@use '../../styles/variables' as var;

$icon-size: 400px;

:host {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 1rem 0 1rem;
  width: 100%;
}

main {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  color: col.$pip-green;
  text-align: center;
  width: 100%;
}
