@use '../../styles/breakpoints' as bps;
@use '../../styles/colors' as col;
@use '../../styles/scrollbar' as sb;
@use '../../styles/variables' as var;

$icon-size: 400px;

:host {
  align-items: center;
  box-sizing: border-box;
  color: col.$pip-green;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0 1rem;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
  width: 100%;
}

h1,
h2 {
  color: col.$pip-green;
  margin: 0;
  text-align: center;
  width: 100%;
}

h1 {
  font-size: var.$font-xl;
  margin-top: 1rem;
}
