@use '../../styles/breakpoints' as bps;
@use '../../styles/colors' as col;
@use '../../styles/variables' as var;

:host {
  align-items: center;
  box-sizing: border-box;
  color: col.$pip-green;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
  width: 100%;

  section {
    box-sizing: border-box;
    padding: 1rem;
    max-width: 100%;
    width: 100%;
    word-wrap: break-word;

    > p {
      max-width: var.$section-max-width;
      margin-bottom: 2rem;
    }

    &.intro,
    &.companion-selection,
    &.notice,
    &.quick-support {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &:last-child {
      margin-bottom: 5rem;
    }
  }
}

.intro {
  pip-title {
    margin: 2rem 0 1rem 0;
  }
}

h1 {
  color: col.$pip-green-dark;
  font-size: var.$font-xl;
  text-align: center;
  width: 100%;

  &.active {
    color: col.$pip-green;
  }

  &.community-header {
    margin-top: 0;
  }
}

h2,
h3 {
  margin: 0;
}

h1,
h2,
h3,
p {
  color: col.$pip-green;
  text-align: center;
  width: 100%;
}

pip-divider {
  margin: 0 auto;
  max-width: var.$page-max-width;
  padding: 0 2rem;
}

mat-accordion {
  color: col.$black;
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
  max-width: var.$section-max-width;

  mat-expansion-panel {
    width: 100%;

    p {
      color: col.$black;
    }

    a:hover {
      color: col.$black;
    }

    @include bps.media('max', 'md') {
      mat-expansion-panel-header,
      mat-panel-title {
        font-size: var.$font-xxs;
      }
    }
  }
}

pip-button {
  margin-top: 2rem;
}
