<h3>Firmware Update</h3>
<div class="file-upload">
  <label
    [class.disabled]="
      !signals.isConnected() ||
      signals.disableAllControls() ||
      signals.isUploadingFile()
    "
    for="fileInput"
    >Upload File</label
  >
  <input
    (change)="onFileSelected($event)"
    [disabled]="
      !signals.isConnected() ||
      signals.disableAllControls() ||
      signals.isUploadingFile()
    "
    accept=".zip"
    id="fileInput"
    type="file"
  />
</div>
<pip-button
  (click)="fetchLatestUpdateLinks()"
  [disabled]="signals.disableAllControls() || signals.isUploadingFile()"
>
  Fetch Links
</pip-button>
<pip-button
  (click)="startUpdate()"
  [disabled]="
    !selectedFile ||
    !signals.isConnected() ||
    signals.disableAllControls() ||
    signals.isUploadingFile()
  "
>
  Start Update
</pip-button>
<div *ngIf="signals.updateProgress() > 0">
  <mat-progress-bar
    mode="determinate"
    [value]="signals.updateProgress()"
  ></mat-progress-bar>
</div>
