<h3>Firmware Update</h3>
<pip-button
  (click)="fetchLatestUpdateLinks()"
  [disabled]="
    signals.disableAllControls() ||
    signals.isUploadingFile() ||
    (isFetchingChanges | async)
  "
>
  @if (isFetchingChanges | async) {
    Fetch Links ({{ countdownChanges | async }})
  } @else {
    Fetch Links
  }
</pip-button>
<div class="file-upload">
  <label
    [class.disabled]="
      !signals.isConnected() ||
      signals.disableAllControls() ||
      signals.isUploadingFile()
    "
    for="fileInput"
    >Select Zip File</label
  >
  <input
    (change)="onFileSelected($event)"
    [disabled]="
      !signals.isConnected() ||
      signals.disableAllControls() ||
      signals.isUploadingFile()
    "
    accept=".zip"
    id="fileInput"
    type="file"
  />
</div>
<pip-button
  (click)="uploadZipToDevice()"
  [disabled]="
    !selectedFile ||
    !signals.isConnected() ||
    signals.disableAllControls() ||
    signals.isUploadingFile()
  "
>
  Start Upload
</pip-button>
<div *ngIf="signals.updateProgress() > 0">
  <mat-progress-bar
    mode="determinate"
    [value]="signals.updateProgress()"
  ></mat-progress-bar>
</div>
