<h3>Firmware Update</h3>
<div class="file-upload">
  <label
    [class.disabled]="!signals.isConnected() || signals.disableAllControls()"
    for="fileInput"
    >Upload File</label
  >
  <input
    (change)="onFileSelected($event)"
    [disabled]="!signals.isConnected() || signals.disableAllControls()"
    accept=".zip"
    id="fileInput"
    type="file"
  />
</div>
<pip-button
  (click)="fetchLatestUpdateLinks()"
  [disabled]="signals.disableAllControls()"
>
  Fetch Links
</pip-button>
<pip-button
  (click)="startUpdate()"
  [disabled]="
    !selectedFile || !signals.isConnected() || signals.disableAllControls()
  "
>
  Start Upgrade
</pip-button>
<div *ngIf="signals.updateProgress() > 0">
  <p>Uploading: {{ signals.updateProgress() }}%</p>
  <div class="progress-bar">
    <div class="progress-fill" [style.width.%]="signals.updateProgress()"></div>
  </div>
</div>
