<h3>Zip Update</h3>

<pip-button
  (click)="fetchLatestUpdateLinks()"
  [disabled]="
    signals.disableAllControls() ||
    signals.isUploadingFile() ||
    (isFetchingChanges | async)
  "
>
  @if (isFetchingChanges | async) {
    Fetch FW Links ({{ countdownChanges | async }})
  } @else {
    Fetch FW Links
  }
</pip-button>

<pip-file-upload
  [accept]="['.zip']"
  [formControl]="formControl"
  label="Select Zip File"
/>

<pip-button
  (click)="uploadZipToDevice()"
  [disabled]="!formControl.value?.length || (disabledChanges | async)"
>
  Start Upload
</pip-button>

<div *ngIf="signals.updateProgress() > 0">
  <mat-progress-bar
    mode="determinate"
    [value]="signals.updateProgress()"
  ></mat-progress-bar>
</div>
