<main>
  <section class="intro">
    <pip-title h2>Maintenance</pip-title>
    <a [routerLink]="'/' + PAGES['Pip-Boy 3000 Mk V Companion Terminal']"
      >&lt; BACK TO PIP-BOY 3000 MK V</a
    >
    <p>
      This tool allows you to easily maintain some of the settings on your
      Pip-Boy&nbsp;3000&nbsp;Mk&nbsp;V.
    </p>
    <img
      class="fan-art"
      src="images/fan-art/debug_sm.png"
      alt="Fan Art"
      title="Fan Art"
    />
  </section>

  <section>
    <pip-actions-primary />
  </section>

  <section>
    <pip-actions-misc />
  </section>

  <section>
    <pip-actions-owner />
  </section>

  <section>
    <pip-actions-testing />
  </section>

  <section>
    <pip-actions-date-time />
  </section>
</main>

<pip-log />
