<main>
  <section class="intro">
    <h2>Maintenance</h2>
    <p>
      This tool allows you to customize, maintain, transfer files, play media,
      run diagnostics, and access deeper functionality for a customized Pip-Boy
      experience.
    </p>
    <img
      class="fan-art"
      src="images/fan-art/debug_sm.png"
      alt="Fan Art"
      title="Fan Art"
    />
    <p>
      To begin, ensure your device is powered on and connected via USB, then tap
      the "Connect" button below to initiate the connection sequence.
    </p>
    <p>
      Once successfully connected, you'll see your device status update in
      real-time below. Feel free to change tabs to explore the various
      functionalities available to you once connected.
    </p>
  </section>
  <section>
    <pip-actions-primary />
  </section>
  <section>
    <pip-actions-misc />
  </section>
  <section>
    <pip-actions-owner />
  </section>
  <section>
    <pip-actions-testing />
  </section>
  <section>
    <pip-actions-date-time />
  </section>
  <section>
    <pip-file-explorer />
  </section>
  <section>
    <pip-file-uploader />
  </section>
  <section>
    <pip-actions-zip-upload />
  </section>
</main>

<pip-log />
