// @use '../../../styles/breakpoints' as bps;
@use '../../../styles/colors' as col;
// @use '../../../styles/scrollbar' as sb;
@use '../../../styles/variables' as var;

:host {
  display: flex;
  flex-direction: column;
  width: 100%;

  &:not(.loading) {
    border: 1px solid rgba(col.$pip-green-darkest, 0.25);
  }
}

p {
  display: inline-flex;
  justify-content: center;
  margin: 0 0 1rem 0;
  width: 100%;
}

.loading-overlay {
  align-items: center;
  background-color: rgba(black, 0.5);
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: var.$backdrop-z-index;
}
