<button (click)="goToClockTab()" aria-label="Clock" class="clock-container">
  {{ timeChanges | async | dateTime: 'yyyy-MM-dd' }}
  <span class="spacer"></span>
  {{ timeChanges | async | dateTime: 'hh' }}
  <span class="colon">{{ (isTimeBlinkingChanges | async) ? ':' : '' }}</span>
  {{ timeChanges | async | dateTime: 'mm' }}
</button>
<div class="battery-container">
  <div class="battery">
    <div
      [style.width]="pipSignals.batteryLevel() + '%'"
      class="battery-level"
    ></div>
  </div>
  <div class="battery-cap"></div>
  <mat-icon
    aria-hidden="false"
    aria-label="Power Icon"
    fontIcon="flash_on"
  ></mat-icon>
</div>
<div class="version-container">
  <button [matMenuTriggerFor]="menu" aria-label="Version History">
    v{{ versionNumber }}
  </button>
  <mat-menu #menu="matMenu" yPosition="above">
    <button mat-menu-item [matMenuTriggerFor]="v150">
      <mat-icon iconPositionStart>chevron_left</mat-icon>
      v1.5.x
    </button>
    <button mat-menu-item [matMenuTriggerFor]="v140">
      <mat-icon iconPositionStart>chevron_left</mat-icon>
      v1.4.x
    </button>
    <button mat-menu-item [matMenuTriggerFor]="v130">
      <mat-icon iconPositionStart>chevron_left</mat-icon>
      v1.3.x
    </button>
    <button mat-menu-item [matMenuTriggerFor]="v120">
      <mat-icon iconPositionStart>chevron_left</mat-icon>
      v1.2.x
    </button>
    <button mat-menu-item [matMenuTriggerFor]="v110">
      <mat-icon iconPositionStart>chevron_left</mat-icon>
      v1.1.x
    </button>
    <button mat-menu-item [matMenuTriggerFor]="v100">
      <mat-icon iconPositionStart>chevron_left</mat-icon>
      v1.0.x
    </button>
  </mat-menu>
</div>

<mat-menu #v150="matMenu">
  <h3>Change Log:</h3>
  <span mat-menu-item>- Add clock tab</span>
  <span mat-menu-item>- Update subtab behavior</span>
  <span mat-menu-item>- Version management</span>
  <span mat-menu-item>- Set Pip Date</span>
  <span mat-menu-item>- Set Pip Time</span>
  <span mat-menu-item>- New animations</span>
</mat-menu>

<mat-menu #v140="matMenu">
  <h3>Change Log:</h3>
  <span mat-menu-item>- Update async ops</span>
  <span mat-menu-item>- Update log scrolling</span>
  <span mat-menu-item>- Update log text</span>
  <span mat-menu-item>- Footer battery status</span>
  <span mat-menu-item>- Footer version display</span>
  <span mat-menu-item>- Update time display to async</span>
  <span mat-menu-item>- Add blinking time colon</span>
  <span mat-menu-item>- Update links color</span>
  <span mat-menu-item>- Update tab click volume</span>
  <span mat-menu-item>- Update time display formats</span>
</mat-menu>

<mat-menu #v130="matMenu">
  <h3>Change Log:</h3>
  <span mat-menu-item>- URL routing</span>
  <span mat-menu-item>- Add footer</span>
  <span mat-menu-item>- Add footer time display</span>
  <span mat-menu-item>- Update dashed borders</span>
</mat-menu>

<mat-menu #v120="matMenu">
  <h3>Change Log:</h3>
  <span mat-menu-item>- Code improvements and polishing</span>
</mat-menu>

<mat-menu #v110="matMenu">
  <h3>Change Log:</h3>
  <span mat-menu-item>- FavIcon updates</span>
  <span mat-menu-item>- Logo updates</span>
  <span mat-menu-item>- Tab system</span>
  <span mat-menu-item>- Sounds service</span>
  <span mat-menu-item>- Sound on/off icon</span>
</mat-menu>

<mat-menu #v100="matMenu">
  <h3>Change Log:</h3>
  <span mat-menu-item>- Connecting</span>
  <span mat-menu-item>- Disconnecting</span>
  <span mat-menu-item>- Rebooting</span>
  <span mat-menu-item>- Set Owner</span>
  <span mat-menu-item>- Reset owner</span>
  <span mat-menu-item>- Choose firmware</span>
  <span mat-menu-item>- Upload firmware</span>
  <span mat-menu-item>- Get Firmware links</span>
  <span mat-menu-item>- Videos Section</span>
  <span mat-menu-item>- Music Section</span>
</mat-menu>
