<main>
  <section>
    <h2>Connect</h2>
    <p>
      The <strong>Connect Terminal</strong> allows you to establish a direct
      connection with your <strong>Pip-Boy 3000 Mk V</strong> device.
    </p>
    <p>
      When connected, you can install apps, transfer files, play media, run
      diagnostics, and access deeper functionality for a customized Pip-Boy
      experience.
    </p>
    <img
      class="fan-art"
      src="images/fan-art/connect_sm.png"
      alt="Fan Art"
      title="Fan Art"
    />
    <p>
      To begin, ensure your device is powered on and connected via USB, then tap
      the button below to initiate the connection sequence.
    </p>
    <p>
      Once successfully connected, you'll see your device status update in
      real-time below. Feel free to change tabs to explore the various
      functionalities available to you once connected.
    </p>
  </section>
  <section class="fan-art">
    <pip-actions-primary />
  </section>
  <section>
    <div class="image-wrapper">
      <img src="images/pip.png" alt="Pip" />
      <div class="image-overlay">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          class="status-icon"
          [class.active]="signals.isConnected()"
          fontIcon="cell_tower"
        ></mat-icon>
        <p>
          {{ signals.isConnected() ? 'CONNECTED' : 'OFFLINE' }}
        </p>
      </div>
    </div>
  </section>
  <section class="fan-art">
    <pip-actions-quick-nav disableConnectTab />
  </section>
</main>

<pip-log />
