@use '../../../styles/animations/border-animation' as ani;
@use '../../../styles/breakpoints' as bps;
@use '../../../styles/colors' as col;
@use '../../../styles/scrollbar' as sb;

:host {
  border: 2px dashed transparent;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &:hover {
    @include ani.borderAnimation;
  }
}

pip-title {
  margin-bottom: 1rem;
  margin-top: 0;
  text-align: start;
  width: 100%;
}

pip-button {
  margin-bottom: 1rem;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }
}
