<main>
  <section>
    <h2>Apps</h2>
    <p>
      This page displays a list of available apps and games that can be launched
      directly on the device. Once installed, they will appear under
      <strong>INV &gt; APPS</strong> menu on your Pip-Boy. If you're interested
      in contributing custom apps, you're welcome to explore the open-source
      repository on
      <a
        href="https://github.com/CodyTolene/pip-apps"
        target="_blank"
        rel="noopener noreferrer"
        >GitHub</a
      >.
    </p>
  </section>
  <section>
    <pip-actions-primary />
  </section>
  <section>
    <pip-actions-launch-app />
  </section>
  <section>
    <pip-actions-quick-nav disableAppsTab />
  </section>
</main>

<pip-log />
