<main>
  <section>
    <h2>Apps</h2>
    <p>
      This page shows a list of apps and games that can be launched on the
      device. Once installed, apps will appear under
      <strong>INV &gt; APPS</strong> on the device. If you'd like to contribute
      your own custom apps, feel free to check out the open-source repository on
      GitHub
      <a href="https://github.com/CodyTolene/pip-apps" target="_blank">here</a>.
    </p>
  </section>
  <section>
    <pip-actions-primary />
  </section>
  <section>
    <pip-actions-launch-app />
  </section>
  <section>
    <pip-actions-quick-nav disableAppsTab />
  </section>
</main>

<pip-log />
