@use '../../styles/colors' as col;
@use '../../styles/variables' as var;

:host {
  box-sizing: border-box;
  display: flex;
  font-size: var.$font-xxs;
  justify-content: center;
  width: 100%;

  section {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: var.$page-max-width;
    padding: 1rem 2.5rem;
    width: 100%;

    .breadcrumbs {
      align-items: center;
      display: inline-flex;

      span {
        color: col.$pip-green;
        margin-left: 0.25rem;
      }
    }
  }
}

a {
  align-items: center;
  color: col.$pip-green-dark;
  display: inline-flex;

  &:hover {
    color: col.$pip-green;
  }
}
