@use '../../../styles/animations/border-animation' as ani;
@use '../../../styles/breakpoints' as bps;
@use '../../../styles/colors' as col;
@use '../../../styles/scrollbar' as sb;

:host {
  border: 2px dashed transparent;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &:hover {
    @include ani.borderAnimation;
  }
}

pip-title {
  margin-bottom: 1rem;
  margin-top: 0;
  text-align: start;
  width: 100%;
}

pip-button {
  margin-bottom: 1rem;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }
}

$gap: 1rem;

form {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: $gap;
  margin: 0;

  pro-input,
  pro-input-datepicker,
  pro-input-timepicker {
    margin-bottom: 1rem;
    flex: 0 1 calc((100% - 2 * #{$gap}) / 3);
    min-width: 0;
  }

  @include bps.media('max', 'lg') {
    gap: 0;
    flex-direction: column;
    pro-input,
    pro-input-datepicker,
    pro-input-timepicker {
      flex: 0 1 100%;
    }
  }
}

.button-container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: $gap;
  margin-bottom: 1rem;

  pip-button {
    flex: 0 1 calc(50% - ($gap / 2));

    @include bps.media('max', 'lg') {
      flex: 0 1 100%;
    }
  }

  @include bps.media('max', 'lg') {
    gap: 0;
  }
}

.time {
  margin-bottom: 1rem;
  // text-align: center;
  width: 100%;
}
