@use '../../styles/colors' as col;

:host {
  box-sizing: border-box;
  display: flex;
  padding: 1rem;
  height: 100%;
  width: 100%;
}

google-map {
  display: block;
  height: 100%;
  width: 100%;
}

::ng-deep .map-container {
  width: 100% !important;
  height: 100% !important;
}

.banner {
  align-items: center;
  box-sizing: border-box;
  color: col.$pip-green;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  width: 100%;
}
