@use '../../styles/breakpoints' as bps;
@use '../../styles/colors' as col;
@use '../../styles/variables' as var;

:host {
  align-items: center;
  box-sizing: border-box;
  color: col.$pip-green;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

pip-title {
  margin: 3rem 1rem 3rem 1rem;
}

.login-intro > p {
  margin: 0 1rem 2rem 1rem;
  max-width: 356px;
  text-align: center;

  &.notice {
    color: col.$warn;
  }
}

.login-form-container {
  @include bps.media('max', 'sm') {
    padding: 1rem;
    max-width: 100%;

    pip-login-form {
      width: 100%;
    }
  }
}

pip-footer {
  align-self: stretch;
  margin-top: auto;
  display: block;
}
