@use '../../styles/breakpoints' as bps;
@use '../../styles/colors' as col;
@use '../../styles/scrollbar' as sb;
@use '../../styles/variables' as var;

:host {
  display: block;
  margin: 0 auto;
  width: 356px;
  padding: 0;
}

form {
  border: 2px solid col.$pip-green-darkest;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;

  pro-input {
    flex: 0 0 100%;
    margin-bottom: 1rem;
    max-width: 100%;
    width: 100%;
  }
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

pip-button {
  display: block;
  margin-bottom: 0.5rem;
  width: 100%;
}

.or-container {
  padding-top: 0.5rem;
  text-align: center;
  width: 100%;
}
