// @use '../../styles/breakpoints' as bps;
@use '../../styles/colors' as col;
// @use '../../styles/scrollbar' as sb;
// @use '../../styles/variables' as var;

pip-icon {
  color: col.$pip-green-dark;
  margin-right: 1rem;
}

a.active pip-icon {
  color: col.$pip-green;
}

a:hover pip-icon {
  color: col.$pip-green-light;
}

pip-badge {
  margin-left: 1rem;
}
