<nav aria-label="Main">
  @for (link of linksChanges | async; track link) {
    <a
      #rla="routerLinkActive"
      (click)="link.onClick?.($event); closeNavBar()"
      [attr.aria-current]="rla.isActive ? 'page' : null"
      [routerLinkActiveOptions]="
        link.exact ? { exact: true } : { exact: false }
      "
      [routerLink]="link.onClick ? null : link.commands"
      mat-list-item
      routerLinkActive="active"
      ><pip-icon [fontSet]="link.fontSet" [name]="link.icon" />{{ link.label }}
      @if (link.isNewFeature) {
        <pip-badge>NEW</pip-badge>
      }
    </a>
  }
</nav>
