<nav aria-label="Main">
  <ol role="list">
    @for (link of linksChanges | async; track link) {
      <li>
        <a
          #rla="routerLinkActive"
          (click)="link.onClick?.()"
          [attr.aria-current]="rla.isActive ? 'page' : null"
          [routerLinkActiveOptions]="
            link.exact ? { exact: true } : { exact: false }
          "
          [routerLink]="link.commands"
          mat-list-item
          routerLinkActive="active"
          >{{ link.label }}</a
        >
      </li>
    }
  </ol>
</nav>
