@use '../../styles/colors' as col;
@use '../../styles/scrollbar' as sb;
@use '../../styles/variables' as var;

//:host {
// background-color: col.$black;
// background: transparent;
// background-color: rgba(0, 0, 0, 0.1);
// display: block;
// height: var.$navbar-height;
// position: sticky;
// top: var.$header-height;
// width: 100%;
// z-index: 1000;
//}

// nav {
//   align-items: center;
//   display: flex;
//   height: 100%;
//   width: 100%;
//   margin: 0 auto;
//   max-width: 1200px;
//   // border-top: 1px dashed col.$pip-green-dark;

//   > ul {
//     align-items: center;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: nowrap;
//     gap: 1rem;
//     height: 100%;
//     justify-content: space-evenly;
//     list-style: none;
//     margin: 0;
//     padding: 0;
//     width: 100%;

//     > li > a {
//       font-size: var.$font-xs;
//       color: col.$pip-green-dark;
//       text-decoration: none;

//       &.active,
//       a[aria-current='page'] {
//         color: col.$pip-green;
//         // border-bottom: 2px solid currentColor;
//       }
//     }
//   }
// }
