@use '../../styles/breakpoints' as bps;
@use '../../styles/colors' as col;
@use '../../styles/scrollbar' as sb;
@use '../../styles/variables' as var;

:host {
  background-color: transparent;
  border-top: 1px solid col.$pip-green-darkest;
  box-sizing: border-box;
  display: flex;
  color: col.$pip-green;
  flex-direction: column;
  font-family: monospace;
  height: calc(100% - var.$header-height);
  width: 100%;
}

mat-sidenav-container {
  box-sizing: border-box;
  height: 100%;

  mat-sidenav {
    .nav-message {
      padding: 1rem;
      box-sizing: border-box;
      // color: col.$white;
      width: 100%;

      .nav-message-title {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: var.$font-xxs;
        justify-content: center;
        align-items: center;
      }

      P {
        font-size: var.$font-xxs;
        padding: 0.5rem 0.75rem 0 0.75rem;
      }
    }
  }

  mat-sidenav-content {
    @include sb.scrollbar;

    height: 100%;
    width: 100%;

    overflow-y: auto;
    overflow-x: hidden;
  }
}
