<main>
  <section>
    <h2>Radio Set</h2>
    <p>
      This page allows you to upload WAV files to the radio. You must be
      connected to the device to upload files.
    </p>
    <pip-actions-connection
      [isGoToConnectTabButtonVisible]="true"
      [isGoToMaintenanceTabButtonVisible]="false"
    />
  </section>
  <section>
    <h3>Radio Host Files - Upload WAV Files (DX01 - DX03)</h3>
    <div
      *ngFor="let name of dxFileNames; let i = index"
      class="upload-container"
    >
      <ng-content
        *ngTemplateOutlet="
          uploadTemplate;
          context: { i, max: dxFileNames.length, name }
        "
      />
    </div>
  </section>
  <section>
    <h3>Radio Music Files - Upload WAV Files (MX01 - MX16)</h3>
    <div
      *ngFor="let name of mxFileNames; let i = index"
      class="upload-container"
    >
      <ng-content
        *ngTemplateOutlet="
          uploadTemplate;
          context: { i, max: mxFileNames.length, name }
        "
      />
    </div>
    <ng-template #uploadTemplate let-i="i" let-max="max" let-name="name">
      <pip-button
        (click)="playRadioFileOnDevice(name)"
        [disabled]="
          !signals.isConnected() ||
          signals.disableAllControls() ||
          signals.isUploadingFile()
        "
        >Play current {{ name }}</pip-button
      >
      <div class="file-upload">
        <label
          [class.disabled]="
            !signals.isConnected() ||
            signals.disableAllControls() ||
            signals.isUploadingFile()
          "
          for="uploadInput-{{ name }}"
        >
          Select WAV File for {{ name }}
        </label>
        <input
          (change)="onUploadFileSelected($event, name)"
          [disabled]="
            !signals.isConnected() ||
            signals.disableAllControls() ||
            signals.isUploadingFile()
          "
          accept=".wav"
          id="uploadInput-{{ name }}"
          type="file"
        />
      </div>
      <pip-button
        (click)="uploadFile(name)"
        [disabled]="
          !uploadFileInputs[name] ||
          !signals.isConnected() ||
          signals.disableAllControls() ||
          signals.isUploadingFile()
        "
      >
        Upload {{ name }}
      </pip-button>
      <div *ngIf="uploadProgress[name] > 0">
        <mat-progress-bar
          mode="determinate"
          [value]="uploadProgress[name]"
        ></mat-progress-bar>
      </div>
    </ng-template>
  </section>
</main>

<pip-log />
