<pip-tabs>
  <pip-tab label="STAT">
    <pip-sub-tabs #statSubTabs>
      <pip-sub-tab label="STATUS">
        <pip-status>
          <button (click)="statSubTabs.selectTab(1)">Connect</button>
        </pip-status>
      </pip-sub-tab>
      <pip-sub-tab label="CONNECT">
        <pip-connect></pip-connect>
      </pip-sub-tab>
      <pip-sub-tab label="DIAGNOSTICS"></pip-sub-tab>
    </pip-sub-tabs>
  </pip-tab>
  <pip-tab label="INV">
    <pip-sub-tabs>
      <pip-sub-tab label="ATTACHMENTS"></pip-sub-tab>
      <pip-sub-tab label="APPAREL"></pip-sub-tab>
      <pip-sub-tab label="AID"></pip-sub-tab>
    </pip-sub-tabs>
  </pip-tab>
  <pip-tab label="DATA">
    <pip-sub-tabs>
      <pip-sub-tab label="CLOCK"></pip-sub-tab>
      <pip-sub-tab label="STATS"></pip-sub-tab>
      <pip-sub-tab label="MAINTENANCE"></pip-sub-tab>
    </pip-sub-tabs>
  </pip-tab>
  <pip-tab label="MAP"></pip-tab>
  <pip-tab label="RADIO"></pip-tab>
</pip-tabs>
