<mat-icon
  (click)="goToConnectTab()"
  [class.active]="signals.isConnected()"
  [matTooltip]="
    signals.isConnected() ? 'Device Connected' : 'Device Disconnected'
  "
  aria-hidden="false"
  aria-label="Connected Icon"
  class="status-icon"
  fontIcon="cell_tower"
></mat-icon>
<mat-icon
  (click)="soundVolume() > 0 ? soundVolume.set(0) : soundVolume.set(100)"
  [class.active]="soundVolume() > 0"
  [fontIcon]="soundVolume() > 0 ? 'volume_up' : 'volume_mute'"
  [matTooltip]="soundVolume() > 0 ? 'Sound On' : 'Sound Off'"
  aria-hidden="false"
  aria-label="Connected Icon"
  class="sound-icon"
></mat-icon>
<pip-tabs>
  <pip-tab [label]="TabLabelEnum.STAT">
    <pip-sub-tab [label]="SubTabLabelEnum.STATUS">
      <pip-status-page />
    </pip-sub-tab>
    <pip-sub-tab [label]="SubTabLabelEnum.CONNECT">
      <pip-connect-page />
    </pip-sub-tab>
    <pip-sub-tab [label]="SubTabLabelEnum.DIAGNOSTICS">
      <pip-diagnostics-page />
    </pip-sub-tab>
  </pip-tab>
  <pip-tab [label]="TabLabelEnum.INV">
    <pip-sub-tab [label]="SubTabLabelEnum.APPAREL">
      <pip-apparel-page />
    </pip-sub-tab>
    <pip-sub-tab [label]="SubTabLabelEnum.APPS">
      <pip-apps-page />
    </pip-sub-tab>
    <pip-sub-tab [label]="SubTabLabelEnum.PRIVACY">
      <pip-privacy-policy-page />
    </pip-sub-tab>
  </pip-tab>
  <pip-tab [label]="TabLabelEnum.DATA">
    <pip-sub-tab [label]="SubTabLabelEnum.CLOCK">
      <pip-clock-page />
    </pip-sub-tab>
    <pip-sub-tab [label]="SubTabLabelEnum.STATS">
      <pip-stats-page />
    </pip-sub-tab>
    <pip-sub-tab [label]="SubTabLabelEnum.MAINTENANCE">
      <pip-maintenance />
    </pip-sub-tab>
  </pip-tab>
  <pip-tab [label]="TabLabelEnum.MAP">
    <pip-map-page />
  </pip-tab>
  <pip-tab [label]="TabLabelEnum.RADIO">
    <pip-sub-tab [label]="SubTabLabelEnum.PLAY">
      <pip-radio-page />
    </pip-sub-tab>
    <pip-sub-tab [label]="SubTabLabelEnum.SET">
      <pip-radio-set-page />
    </pip-sub-tab>
  </pip-tab>
</pip-tabs>
<pip-footer />
