<form [formGroup]="formGroup">
  <pro-input
    [formControl]="formGroup.controls.email"
    appearance="fill"
    hint="Enter your email address."
    label="Email"
    placeholder="Email"
    type="email"
  ></pro-input>
  <pro-input
    [formControl]="formGroup.controls.password"
    appearance="fill"
    hint="Enter your password."
    label="Password"
    placeholder="Password"
    type="password"
  ></pro-input>
  <pip-button
    (click)="register()"
    [disabled]="formGroup.invalid || formGroup.disabled || isRegistering()"
    type="submit"
    styling="filled"
    >Register</pip-button
  >
</form>

@if (hasRegisterError()) {
  <div class="error-message">
    <p>Register failed. Please try again.</p>
  </div>
}
