@use '../../../styles/colors' as col;
@use '../../../styles/variables' as var;
// @use '../../../styles/breakpoints' as bps;
// @use '../../../styles/scrollbar' as sb;

:host {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 1rem;
  padding: 0;
  background-color: transparent;
  color: col.$pip-green;
}

h3 {
  margin: 1.5rem 0 0 0;
}

section {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  max-width: var.$page-max-width;
  padding: 0 1.5rem;
  width: 100%;

  &.intro {
    margin: 0 auto;
    margin-bottom: 1rem;
    max-width: var.$page-max-width;

    pip-title[h1] {
      margin-bottom: 1.5rem;
      width: 100%;
      text-align: center;
    }

    > p {
      font-style: italic;
      margin: 0 0 2rem;
      color: col.$pip-green-light;
    }
  }

  pip-forum-table {
    margin-bottom: 4rem;
  }
}

pip-footer {
  align-self: stretch;
  display: block;
  margin-top: auto;
}
