@use '../../../styles/colors' as col;
// @use '../../../styles/breakpoints' as bps;
// @use '../../../styles/scrollbar' as sb;
// @use '../../../styles/variables' as var;

.breadcrumbs {
  align-self: flex-start;
  margin-bottom: 1rem;
  font-size: 0.85rem;

  a {
    color: col.$pip-green;
    text-decoration: underline;
  }

  span {
    margin-left: 0.25rem;
  }
}
