@use '../../styles/breakpoints' as bps;
@use '../../styles/colors' as col;
@use '../../styles/variables' as var;

footer {
  align-items: center;
  background-color: col.$black;
  border-top: 1px solid col.$pip-green-darkest;
  box-sizing: border-box;
  color: col.$pip-green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  position: relative;
  width: 100%;

  pip-theme-selector {
    border-top: 1px dashed col.$pip-green-darkest;
    margin: 0 0 1rem 0;
    padding-top: 0.5rem;
  }

  .disclaimer {
    font-size: var.$font-xs;
    max-width: var.$section-max-width;
    text-align: center;
  }

  .logo-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var.$page-max-width;
    padding: 0 1.5rem;

    .branding {
      align-items: center;
      display: flex;

      img.logo {
        height: 40px;
        margin-right: 1rem;
      }

      .site-title {
        color: col.$pip-green;
        font-family: var.$secondary-font-family;
        font-size: var.$font-xl;
        letter-spacing: 1px;
      }
    }
  }

  .version {
    color: col.$pip-green;
    font-family: var.$secondary-font-family;
    font-size: 1rem;
    opacity: 0.7;
  }
}

@include bps.media('max', 'md') {
  .logo-container > .branding > .site-title {
    font-size: var.$font-md;
  }
}

@include bps.media('max', 'sm') {
  .logo-container > .branding > .site-title {
    font-size: var.$font-sm;
  }
}
