@use '../../styles/colors' as col;
@use '../../styles/breakpoints' as bps;

$icon-size: 500px;

:host {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}

main > section {
  // Select the first section
  &:first-of-type {
    border-bottom: 2px dashed col.$pip-green;
  }

  // Select the last section
  &:last-of-type {
    border-top: 2px dashed col.$pip-green;
  }
}

mat-icon.status-icon {
  color: col.$pip-green-dark;
  display: block;
  align-items: center;
  font-size: $icon-size;
  height: $icon-size;
  justify-content: center;
  margin: 0 auto;
  min-width: $icon-size;
  margin-top: 1rem;

  &.active {
    color: col.$pip-green;
  }

  @include bps.media('max', 'md') {
    width: calc($icon-size / 2);
    height: calc($icon-size / 2);
    font-size: calc($icon-size / 2);
    min-width: calc($icon-size / 2);
    text-align: center;
  }
}

h1 {
  color: col.$pip-green-dark;
  text-align: center;
  width: 100%;

  &.active {
    color: col.$pip-green;
  }
}

h1,
p {
  color: col.$pip-green;
  text-align: center;
  width: 100%;
}

h1,
button {
  margin-bottom: 1rem;
}
