<main>
  <h1>Welcome to the Pip-Boy.com Terminal!</h1>

  <section>
    <p>
      This is a <strong>fan-made website</strong> created by
      <a href="https://www.CodyTolene.com" target="_blank">Cody Tolene</a>. It
      includes functionality to
      <strong>connect to your official Pip-Boy 3000 Mk V device</strong>.
    </p>

    <p>
      To purchase the official Pip-Boy 3000 Mk V, visit the
      <a
        href="https://gear.bethesda.net/products/fallout-series-pip-boy-die-cast-replica"
        target="_blank"
        >Bethesda Gear Store</a
      >.
    </p>

    <p>
      Need the official firmware upgrade site? You can find that directly from
      The Wand Company
      <a href="https://www.thewandcompany.com/pip-boy/upgrade/" target="_blank"
        >here</a
      >.
    </p>
  </section>

  <section>
    <mat-icon
      [class.active]="signals.isConnected()"
      aria-hidden="false"
      aria-label="Example home icon"
      class="status-icon"
      fontIcon="cell_tower"
    ></mat-icon>

    <h1 [class.active]="signals.isConnected()">
      CONNECTION {{ signals.isConnected() ? 'ESTABLISHED' : 'OFFLINE' }}
    </h1>

    <p *ngIf="!signals.isConnected()">
      <button (click)="pipTabsService.switchToTab(PipTabLabelEnum.STAT, 1)">
        Connect
      </button>
    </p>
  </section>

  <section>
    <p>
      <em>Important Disclaimer:</em> This website is
      <strong
        >not affiliated with, endorsed by, or approved by Bethesda
        Softworks</strong
      >.
    </p>
    <p>
      All trademarks, including "Pip-Boy," are the property of Bethesda
      Softworks.
    </p>
  </section>
</main>
