@use '../../../../styles/breakpoints' as bps;
@use '../../../../styles/colors' as col;
@use '../../../../styles/variables' as var;

:host {
  align-items: center;
  box-sizing: border-box;
  color: col.$pip-green;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  color: col.$pip-green;
  margin: 0;
  text-align: center;
  width: 100%;
}

p {
  margin: 0;
  text-align: center;
}
