:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-top: -100px;
  width: 100%;
}

h1 {
  margin: 0;
  text-align: center;
}

p {
  text-align: center;
}
