@use '../../../styles/colors' as col;

:host {
  display: flex;
  height: 100%;
  width: 100%;
}

.apparel {
  align-items: center;
  box-sizing: border-box;
  color: col.$pip-green;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

img.fan-art {
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
}
