@use '../../styles/breakpoints' as bps;
@use '../../styles/colors' as col;
@use '../../styles/variables' as var;

:host {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

  &.center {
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .loader {
    $wing-gap: 1px;
    $h: 4px;
    $short: 20px;
    $long: 28px;
    $offset: 12px;
    $middle-shift: 20px;

    position: relative;
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;

    .ring {
      background: black;
      z-index: 3;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      border: 4px solid rgba(col.$pip-green, 0.25);
      border-top-color: rgba(col.$pip-green, 0.8);
      box-shadow: inset 0 0 12px rgba(col.$pip-green, 0.25);
      animation: spin 2s linear infinite;
    }

    .wing {
      z-index: 2;
      position: absolute;
      top: 50%;
      height: $h;
      width: $short;
      margin-top: calc($h * -0.5);
      background: col.$pip-green;
      filter: drop-shadow(0 0 4px rgba(col.$pip-green, 0.45));
      box-shadow:
        0 calc($offset * -1) 0 0 currentColor,
        0 $offset 0 0 currentColor;
      animation: wingsPulse 1s ease-in-out infinite;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        height: $h;
        width: $long;
        background: currentColor;
      }
    }

    .wing-left {
      right: calc(100% - $wing-gap);
      border-top-left-radius: calc($h / 2);
      border-bottom-left-radius: calc($h / 2);

      &::after {
        left: calc(0px - $middle-shift);
        border-top-left-radius: calc($h / 2);
        border-bottom-left-radius: calc($h / 2);
      }
    }

    .wing-right {
      left: calc(100% - $wing-gap);
      border-top-right-radius: calc($h / 2);
      border-bottom-right-radius: calc($h / 2);

      &::after {
        right: calc(0px - $middle-shift);
        border-top-right-radius: calc($h / 2);
        border-bottom-right-radius: calc($h / 2);
      }
    }

    &.has-vault-number {
      // Disable ring animation
      .ring {
        align-items: center;
        animation: none;
        display: flex;
        flex-direction: column;
        font-weight: bolder;
        font-size: var.$font-lg;
        height: 100%;
        justify-content: center;
      }
      // Slow down the wing animation
      .wing {
        animation-duration: 2s;
      }
      // Fill the ring border
      .ring {
        border-color: rgba(col.$pip-green, 0.8);
      }
    }
  }

  p {
    margin-top: 1rem;
    opacity: 0.5;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes wingsPulse {
  0%,
  100% {
    opacity: 0.6;
    filter: drop-shadow(0 0 2px rgba(col.$pip-green, 0.25));
  }
  50% {
    opacity: 1;
    filter: drop-shadow(0 0 6px rgba(col.$pip-green, 0.5));
  }
}

@media (prefers-reduced-motion: reduce) {
  .loader .ring {
    animation: none;
  }
}
