<section>
  <h3>Device Diagnostics</h3>
  <dl>
    <div>
      <dt>Connection Status</dt>
      <dd>{{ signals.isConnected() ? 'Connected' : 'Disconnected' }}</dd>
    </div>
  </dl>
  <dl>
    <div>
      <dt>Owner Name</dt>
      <dd>
        {{
          signals.ownerName() === '' || signals.ownerName() === '&lt;NONE&gt;'
            ? 'N/A'
            : signals.ownerName()
        }}
      </dd>
    </div>
  </dl>
  <dl>
    <div>
      <dt>Firmware Version</dt>
      <dd>{{ signals.firmwareVersion() || 'N/A' }}</dd>
    </div>
  </dl>
  <dl>
    <div>
      <dt>JS Version</dt>
      <dd>{{ signals.firmwareVersion() || 'N/A' }}</dd>
    </div>
  </dl>
  <dl>
    <div>
      <dt>Device Id</dt>
      <dd>{{ signals.deviceId() || 'N/A' }}</dd>
    </div>
  </dl>
  <dl>
    <div>
      <dt>Device Sleeping</dt>
      <dd>
        {{
          signals.isConnected()
            ? signals.isSleeping() === true
              ? 'Yes'
              : 'No'
            : 'N/A'
        }}
      </dd>
    </div>
  </dl>
  <dl>
    <div>
      <dt>Battery Level</dt>
      <dd>
        {{
          signals.isConnected() ? signals.batteryLevel() + '&percnt;' : 'N/A'
        }}
      </dd>
    </div>
  </dl>
  <dl>
    <div>
      <dt>SD Card Space</dt>
      <dd *ngIf="signals.sdCardMbSpace() as sdCardStats">
        {{ sdCardStats.freeMb }} / {{ sdCardStats.totalMb }} MB
      </dd>
    </div>
  </dl>
  <pip-button [disabled]="!signals.logMessages().length" (click)="clearLog()">
    Clear Log
  </pip-button>
</section>

<pip-log />
