<main>
  <section>
    <pip-actions-connection
      [isGoToConnectTabButtonVisible]="true"
      [isGoToMaintenanceTabButtonVisible]="false"
    />
  </section>
  <section>
    <pip-actions-owner />
  </section>
  <section>
    <pip-actions-firmware />
  </section>
  <section>
    <pip-actions-date-time />
  </section>
  <section>
    <pip-actions-testing />
  </section>
  <section>
    <h2>Customize Radio</h2>
    <pip-button (click)="goToRadioSetTab()"> Go to Radio Set Tab </pip-button>
  </section>
</main>
<pip-log />
