<main>
  <section>
    <h2>Maintenance</h2>
    <p>
      This page contains all the basic maintenance actions you can perform on
      the device.
    </p>
  </section>
  <section>
    <pip-actions-primary />
  </section>
  <section>
    <pip-actions-misc />
  </section>
  <section>
    <pip-actions-owner />
  </section>
  <section>
    <pip-actions-firmware />
  </section>
  <section>
    <pip-actions-date-time />
  </section>
  <section>
    <pip-actions-testing />
  </section>
  <section>
    <pip-actions-quick-nav disableMaintenanceTab />
  </section>
</main>
<pip-log />
