<main>
  <section>
    <h2>Maintenance</h2>
    <p>
      This page serves as a centralized hub for managing and maintaining your
      Pip-Boy. Whether you're performing routine upkeep or troubleshooting
      issues, these tools are designed to keep the device running smoothly and
      provide access to its core features and functionality.
    </p>
  </section>
  <section>
    <pip-actions-primary />
  </section>
  <section>
    <pip-actions-misc hideDeleteAllAppsButton />
  </section>
  <section>
    <pip-actions-owner />
  </section>
  <section>
    <pip-actions-firmware />
  </section>
  <section>
    <pip-actions-date-time />
  </section>
  <section>
    <pip-actions-testing />
  </section>
  <section>
    <pip-actions-quick-nav disableMaintenanceTab />
  </section>
</main>
<pip-log />
