@use '../../styles/breakpoints' as bps;
@use '../../styles/colors' as col;
@use '../../styles/variables' as var;

:host {
  background-color: rgba(col.$pip-black, 1);
  display: flex;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::after {
    content: '';
    position: fixed;
    inset: 0;
    pointer-events: none;
    background: repeating-linear-gradient(
      to bottom,
      rgba(0, 255, 0, 0.015) 0px,
      rgba(0, 255, 0, 0.015) 1px,
      transparent 1px,
      transparent 3px
    );
  }

  &::before {
    content: '';
    position: fixed;
    inset: 0;
    mix-blend-mode: screen;
    pointer-events: none;
    z-index: 0;
  }
}

pip-content {
  position: absolute;
  top: 100px;
  bottom: var.$footer-height;
}

pip-tabs {
  width: 100%;

  > pip-tab {
    width: 100%;

    > pip-sub-tabs {
      padding-top: 0.5rem;
      width: 100%;
    }
  }
}

mat-icon {
  &.status-icon,
  &.sound-icon {
    position: fixed;
    z-index: 1000;
    color: col.$pip-green;
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    color: col.$pip-green-dark;

    @include bps.media('max', 'md') {
      font-size: 1rem;
      width: 1rem;
      height: 1rem;
      padding: 0.25rem;
    }

    &.active {
      color: col.$pip-green;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &.status-icon {
    top: 0;
    left: 0;
  }

  &.sound-icon {
    top: 0;
    right: 0;
  }
}

pip-boy-3000-mk-iv-footer {
  bottom: 0;
  height: var.$footer-height;
  max-height: var.$footer-height;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
