// @use '../../../styles/breakpoints' as bps;
// @use '../../../styles/colors' as col;
// @use '../../../styles/scrollbar' as sb;
// @use '../../../styles/variables' as var;

.forum-new-post {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4);
}
