@use '../../../styles/colors' as col;
@use '../../../styles/breakpoints' as bps;
// @use '../../../styles/scrollbar' as sb;
@use '../../../styles/variables' as var;

:host {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 1rem;
  padding: 0;
  background-color: transparent;
  color: col.$pip-green;
}

section {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  max-width: var.$page-max-width;
  padding: 0 1.5rem;
  width: 100%;

  &.intro {
    margin: 0 auto;
    max-width: var.$page-max-width;

    pip-title[h1] {
      margin-bottom: 2rem;
      text-align: center;
      width: 100%;
    }

    > p {
      font-style: italic;
      margin: 0 0 2rem;
      color: col.$pip-green-light;
      padding: 1rem;
    }
  }
}

pip-panel {
  padding: 2rem;

  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    pro-input-dropdown,
    pro-input {
      $gap: 2rem;
      flex: 0 0 calc(50% - ($gap / 2));
      margin-bottom: 1rem;
      max-width: calc(50% - ($gap / 2));
    }

    pro-input-textarea {
      flex: 0 0 100%;
      margin-bottom: 1rem;
      max-width: 100%;
    }

    @include bps.media('max', 'sm') {
      pro-input-dropdown,
      pro-input {
        flex: 0 0 100%;
        margin-bottom: 1rem;
        max-width: 100%;
      }
    }

    .action-buttons {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
      margin-top: 1rem;
      width: 100%;
    }
  }
}

pip-footer {
  align-self: stretch;
  display: block;
  margin-top: auto;
}
