@use '../../styles/breakpoints' as bps;
@use '../../styles/colors' as col;
@use '../../styles/scrollbar' as sb;

:host {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

h3 {
  margin-bottom: 0;
}

pip-button {
  flex: 0 1 calc(50% - 0.5rem);

  &.connect-button,
  &.disconnect-button,
  &.maintenance-button {
    flex: 0 1 100%;
  }
}
