<h3>Connection Status</h3>
<pip-button
  (click)="connect()"
  [disabled]="
    signals.isConnected() ||
    signals.disableAllControls() ||
    signals.isUploadingFile()
  "
  class="connect-button"
>
  {{ signals.isConnected() ? 'Connected' : 'Connect' }}
</pip-button>
<pip-button
  (click)="disconnect()"
  [disabled]="
    !signals.isConnected() ||
    signals.disableAllControls() ||
    signals.isUploadingFile()
  "
  class="disconnect-button"
>
  Disconnect
</pip-button>
<pip-button
  (click)="sleep()"
  [disabled]="
    !signals.isConnected() ||
    signals.isSleeping() ||
    signals.disableAllControls() ||
    signals.isUploadingFile()
  "
>
  Sleep
</pip-button>
<pip-button
  (click)="wake()"
  [disabled]="
    !signals.isConnected() ||
    !signals.isSleeping() ||
    signals.disableAllControls() ||
    signals.isUploadingFile()
  "
>
  Wake
</pip-button>
<pip-button
  (click)="restart()"
  [disabled]="
    !signals.isConnected() ||
    signals.disableAllControls() ||
    signals.isUploadingFile()
  "
>
  Restart
</pip-button>
<pip-button
  (click)="shutdown()"
  [disabled]="
    !signals.isConnected() ||
    signals.disableAllControls() ||
    signals.isUploadingFile()
  "
>
  Shutdown
</pip-button>
<pip-button
  (click)="checkBattery()"
  [disabled]="
    !signals.isConnected() ||
    signals.disableAllControls() ||
    signals.isUploadingFile()
  "
  class="check-battery-button"
>
  Check Battery Level
</pip-button>
<pip-button
  (click)="getSDCardMBSpace()"
  [disabled]="
    !signals.isConnected() ||
    signals.disableAllControls() ||
    signals.isUploadingFile()
  "
  class="check-sd-button"
>
  Check SD Card Space
</pip-button>
<pip-button
  *ngIf="isGoToConnectTabButtonVisible"
  (click)="goToConnectTab()"
  class="connect-tab-button"
  >Go to Connect Tab</pip-button
>
<pip-button
  *ngIf="isGoToMaintenanceTabButtonVisible"
  (click)="goToMaintenanceTab()"
  class="maintenance-button"
>
  Go to Maintenance Tab
</pip-button>
