@use '../../styles/breakpoints' as bps;
@use '../../styles/colors' as col;
@use '../../styles/scrollbar' as sb;
@use '../../styles/variables' as var;

$icon-size: 400px;

// :host {
//   align-items: center;
//   box-sizing: border-box;
//   color: col.$pip-green;
//   display: flex;
//   flex-direction: column;
//   padding: 1rem 1rem 0 1rem;
//   width: 100%;
// }

// main {
//   display: flex;
//   flex-direction: column;
//   gap: 1rem;
//   max-width: 100%;
//   width: 100%;
// }

// h1,
// h2 {
//   color: col.$pip-green;
//   margin: 0;
//   text-align: center;
//   width: 100%;
// }

// h1 {
//   font-size: var.$font-xl;
//   margin-top: 1rem;
// }

:host {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  padding: 0;
  flex-direction: row;

  @include bps.media('max', 'md') {
    flex-direction: column;
  }

  main,
  pip-log {
    flex: 1 1 50%;
    max-height: 100%;
    padding: 1rem;
  }

  @include bps.media('max', 'md') {
    > main {
      flex: 1 1 70%;
    }

    > pip-log {
      border-top: 2px dashed col.$pip-green;
      flex: 1 1 30%;
    }
  }

  main {
    @include sb.scrollbar;
    align-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-y: auto;
    width: 100%;

    > section {
      box-sizing: border-box;
      flex: 0 1 100%;

      pip-button {
        margin-bottom: 1rem;
        width: 100%;
      }

      img.fan-art {
        max-width: 300px;
        height: auto;
        display: block;
        margin: 0 auto;
      }
    }

    > section {
      @include bps.media('max', 'lg') {
        flex: 0 1 100%;
      }
    }
  }
}

pip-button {
  margin-top: 1rem;
  flex: 0 1 calc(100%);
}
