@use '../../styles/breakpoints' as bps;
@use '../../styles/colors' as col;
@use '../../styles/scrollbar' as sb;
@use '../../styles/variables' as var;

:host {
  background-color: col.$white;
  display: flex;
  height: 100%;
  flex-direction: column;
}
