<nav class="tabs-header" role="tablist">
  <div class="spacer"></div>
  @for (tab of tabs; let i = $index; track tab) {
    <button
      (click)="onTabClick(tab)"
      [class.active]="getActiveTabLabel() === tab.label"
      [routerLink]="getTabRouterLink(tab)"
      class="tabs-button"
      type="button"
    >
      <span class="label">{{ tab.label }}</span>
    </button>
    <div class="spacer"></div>
  }
</nav>

<div class="tab-content">
  @for (tab of tabs; track tab) {
    @if (getActiveTabLabel() === tab.label) {
      <ng-container *ngTemplateOutlet="tab.content"></ng-container>
    }
  }
</div>
