<section>
  <h1>Device Diagnostics</h1>
  <img
    class="fan-art"
    src="images/fan-art/debug_sm.png"
    alt="Fan Art"
    title="Fan Art"
  />
  <dl>
    <div>
      <dt>Connection Status</dt>
      <dd>{{ signals.isConnected() ? 'Connected' : 'Disconnected' }}</dd>
    </div>
  </dl>
  <dl>
    <div>
      <dt>Owner Name</dt>
      <dd>
        {{
          signals.ownerName() === '' || signals.ownerName() === '&lt;NONE&gt;'
            ? 'N/A'
            : signals.ownerName()
        }}
      </dd>
    </div>
  </dl>
  <dl>
    <div>
      <dt>Firmware Version</dt>
      <dd>{{ signals.firmwareVersion() || 'N/A' }}</dd>
    </div>
  </dl>
  <dl>
    <div>
      <dt>JS Version</dt>
      <dd>{{ signals.javascriptVersion() || 'N/A' }}</dd>
    </div>
  </dl>
  <dl>
    <div>
      <dt>Device Id</dt>
      <dd>{{ signals.deviceId() || 'N/A' }}</dd>
    </div>
  </dl>
  <dl>
    <div>
      <dt>Device Sleeping</dt>
      <dd>
        {{
          signals.isConnected()
            ? signals.isSleeping() === true
              ? 'Yes'
              : 'No'
            : 'N/A'
        }}
      </dd>
    </div>
  </dl>
  <dl>
    <div>
      <dt>Battery Level</dt>
      <dd>
        {{
          signals.isConnected() ? signals.batteryLevel() + '&percnt;' : 'N/A'
        }}
      </dd>
    </div>
  </dl>
  <dl>
    <div>
      <dt>SD Card Space</dt>
      <dd *ngIf="signals.sdCardMbSpace() as sdCardStats">
        {{ sdCardStats.freeMb }} / {{ sdCardStats.totalMb }} MB
      </dd>
    </div>
  </dl>
</section>

<pip-log />
