@use '../../../styles/breakpoints' as bps;
@use '../../../styles/colors' as col;
@use '../../../styles/variables' as var;

$border-width: 2px;

:host {
  display: flex;
  flex-direction: column;
  color: col.$pip-green;
  position: relative;
  box-sizing: border-box;
  padding-top: var.$footer-height;
}

$tab-fill-height: 20px;

.filler {
  background-color: col.$pip-black;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(var.$footer-height + $tab-fill-height);
  width: 100%;
}

nav.tabs-header {
  background-color: col.$pip-black;
  display: flex;
  position: relative;
  width: 100%;
  height: $tab-fill-height;

  > .spacer {
    flex-grow: 1;
    border-bottom: $border-width solid col.$pip-green;
  }
}

button.tabs-button {
  background-color: transparent;
  border: $border-width solid transparent;
  border-bottom-color: col.$pip-green;
  color: col.$pip-green;
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem 0.5rem;
  text-transform: uppercase;
  z-index: 1;
  margin-right: -$border-width;
  margin-left: -$border-width;
  height: 1rem;
  font-size: var.$font-xxl;

  .label {
    display: block;
    position: relative;
    bottom: 1.5rem;
    padding: 0 0.25rem;

    @include bps.media('max', 'md') {
      font-size: var.$font-xl;
    }

    @include bps.media('max', 'sm') {
      font-size: var.$font-lg;
    }

    @include bps.media('max', 'xs') {
      font-size: var.$font-md;
    }
  }

  &:hover {
    color: col.$pip-green;
  }

  .label-bg {
    background-color: #001100;
    width: 100%;
    height: 6px;
    position: relative;
    display: block;
    top: -0.75rem;
  }

  &:not(.active) > .label {
    background-color: transparent;

    &:hover {
      color: col.$pip-green;
    }
  }

  &.active {
    background-color: transparent;
    border-color: col.$pip-green;
    border-bottom-color: transparent;
    z-index: 2;

    &:hover {
      color: col.$pip-green;
    }
  }
}

.tab-content {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  overflow-y: auto;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
