@if (post(); as post) {
  <pip-forum-header
    [category]="post.category"
    [post]="post"
    [user]="userChanges | async"
  />

  <section>
    <pip-panel>
      <pip-forum-post [post]="post" />
    </pip-panel>
  </section>

  <section class="comments">
    <h2>Comments</h2>
    @if (comments().length === 0) {
      <p>No comments yet.</p>
    } @else {
      @for (comment of comments(); track comment.id) {
        <div class="comment">
          <p>{{ comment.content }}</p>
          <p class="signature">
            - {{ comment.authorName }},
            {{ comment.createdAt | dateTime: 'MM/dd/yyyy, hh:mm a (ZZZZ)' }}
          </p>
        </div>
      }
    }
  </section>
} @else if (loading()) {
  <p>[LOADING] Please stand by...</p>
} @else if (error()) {
  <p>[ERROR] Unable to load post. Please try again later.</p>
}

<!-- Footer always present at the bottom -->
<pip-footer />
