@use '../../../styles/colors' as col;
// @use '../../../styles/breakpoints' as bps;
// @use '../../../styles/scrollbar' as sb;
@use '../../../styles/variables' as var;

:host {
  align-items: stretch;
  background-color: transparent;
  box-sizing: border-box;
  color: col.$pip-green;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  padding: 0;
  width: 100%;
}

section {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  max-width: var.$page-max-width;
  padding: 0 1.5rem;
  width: 100%;

  pip-title {
    margin: 0;
    margin-bottom: 1.5rem;
    width: 100%;
    text-align: center;
  }

  .action-buttons {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    width: 100%;
  }

  &.comments {
    display: flex;
    margin-bottom: 4rem;
    margin-top: 2rem;
  }

  &.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 0;

    .loading {
      margin: 0;
      padding: 0;
    }

    mat-icon {
      font-size: 3rem;
      line-height: 3rem;
      height: 3rem;
      width: 3rem;
    }

    .error {
      color: col.$warn;
      font-weight: bold;
    }
  }
}

hr {
  border: none;
  border-top: 1px dashed col.$pip-green-darkest;
  margin: 1rem 0 0 0;
  width: 100%;
}

pip-footer {
  align-self: stretch;
  display: block;
  margin-top: auto;
}
