@use '../../../styles/colors' as col;
// @use '../../../styles/breakpoints' as bps;
// @use '../../../styles/scrollbar' as sb;
// @use '../../../styles/variables' as var;

:host {
  align-items: center;
  box-sizing: border-box;
  color: col.$pip-green;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

section {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4);
}

pip-footer {
  align-self: stretch;
  margin-top: auto;
  display: block;
}
