@use '../../../styles/colors' as col;
// @use '../../../styles/breakpoints' as bps;
// @use '../../../styles/scrollbar' as sb;
@use '../../../styles/variables' as var;

:host {
  align-items: stretch;
  background-color: transparent;
  box-sizing: border-box;
  color: col.$pip-green;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  padding: 0;
  width: 100%;
}

section {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  max-width: var.$page-max-width;
  padding: 0 1.5rem;
  width: 100%;

  pip-title {
    margin: 0 0 2rem;
    text-align: center;
    width: 100%;
  }

  div.actions {
    form {
      display: flex;
      flex-direction: column;
      margin: 1rem 0 0 0;

      pro-input-textarea {
        display: inline-flex;
        margin-bottom: 1rem;
        width: 100%;
      }
    }

    .action-buttons {
      align-items: center;
      display: flex;
      gap: 1rem;
      justify-content: space-between;
      width: 100%;

      .pagination {
        display: flex;
        flex-direction: row;

        pip-button {
          height: auto;
          margin-left: 1rem;
        }
      }
    }
  }

  &.comments {
    margin-bottom: 4rem;
    margin-top: 2rem;
  }
}

pip-footer {
  align-self: stretch;
  display: block;
  margin-top: auto;
}
