<ng-template #content>
  @if (subTabs.length > 0) {
    <nav class="tab-header" role="tablist">
      @for (subTab of subTabs; let i = $index; track i) {
        <button
          (click)="selectSubTab(i)"
          [class.active]="getActiveSubTabIndex(label) === i"
          class="tab-button"
          type="button"
        >
          <span class="label">{{ subTab.label }}</span>
        </button>
      }
    </nav>
    <div class="subtab-content">
      @for (subTab of subTabs; let i = $index; track i) {
        @if (getActiveSubTabIndex(label) === i) {
          <ng-container *ngTemplateOutlet="subTab.content"></ng-container>
        }
      }
    </div>
  } @else {
    <ng-content></ng-content>
  }
</ng-template>
