button {
  background-color: #4caf50;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.25rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s;
  transition: color 0.2s;
  width: 100%;
}

button:hover {
  color: white;
  background-color: #53db57;
}

button:disabled {
  background-color: #333;
  color: #53754d;
  cursor: not-allowed;
}

div#owner-buttons,
div#connection-buttons,
div#update-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}
