<h3>Quick Links</h3>
<pip-button
  (click)="goToTabs(TabLabelEnum.STAT, SubTabLabelEnum.CONNECT)"
  [disabled]="disableConnectTab"
  class="connect-tab-button"
  >Go to Connect Tab</pip-button
>
<pip-button
  (click)="goToTabs(TabLabelEnum.INV, SubTabLabelEnum.APPS)"
  [disabled]="disableAppsTab"
  class="app-tab-button"
  >Go to Apps Tab</pip-button
>
<pip-button
  (click)="goToTabs(TabLabelEnum.DATA, SubTabLabelEnum.MAINTENANCE)"
  [disabled]="disableMaintenanceTab"
  class="maintenance-button"
>
  Go to Maintenance Tab
</pip-button>
<pip-button
  (click)="goToTabs(TabLabelEnum.RADIO, SubTabLabelEnum.SET)"
  [disabled]="disableRadioSetTab"
  class="radio-tab-button"
  >Go to Radio Set Tab</pip-button
>
<pip-button
  (click)="goToTabs(TabLabelEnum.DATA, SubTabLabelEnum.STATS)"
  [disabled]="disableStatsTab"
  class="radio-tab-button"
  >Go to Stats Tab</pip-button
>
<pip-button
  (click)="goToTabs(TabLabelEnum.STAT, SubTabLabelEnum.DIAGNOSTICS)"
  [disabled]="disableDiagnosticsSetTab"
  class="radio-tab-button"
  >Go to Diagnostics Tab</pip-button
>
