name: Deploy to Firebase Hosting

permissions:
  contents: read

on:
  push:
    branches:
      - main

env:
  # Update to the desired commit hash as needed
  # https://github.com/AidansLab/Pip-Boy-CFW-Builder
  CFW_COMMIT: 21707d2f0773471cb7a25854cec86391e3dc8f1c

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      # Build and verify code
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Checkout submodule
        run: |
          echo "Pulling public/pip..."
          cd public/pip
          git fetch origin main
          git checkout main
          git pull origin main
          cd ../..

          echo "Pulling public/Pip-Boy-CFW-Builder..."
          cd public/Pip-Boy-CFW-Builder
          git fetch origin
          git checkout $CFW_COMMIT
          cd ../..

          echo "Ensuring submodules are clean..."
          git submodule foreach 'git reset --hard && git clean -fdx'

      - run: npm ci
      - run: npm run lint
      - run: npm run prettier:check
      - run: npm run generate:apps
      - run: npm run generate:sitemap
      - run: npm run build:prod

      # Deploy to production
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount:
            ${{ secrets.FIREBASE_SERVICE_ACCOUNT_PIP_TERMINAL }}
          channelId: live
          projectId: pip-terminal
