name: CI Check for PRs to Dev

permissions:
  contents: read

on:
  pull_request:
    branches: [dev]

jobs:
  check_build:
    runs-on: ubuntu-latest
    steps:
      # Build and verify front-end code
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Pull latest changes in submodules
        run: |
          git submodule foreach '
            branch=$(git symbolic-ref --short HEAD 2>/dev/null || echo main)
            git fetch origin $branch && git checkout $branch && git pull origin $branch
          '
      - run: npm ci
      - run: npm run lint
      - run: npm run prettier:check
      - run: npm run generate:apps
      - run: npm run generate:sitemap
      - run: npm run build:prod
