@if (availablePipAppsChanges | async) {
  <h3 class="apps-header">App List</h3>
  @for (app of pipAppsChanges | async; track app.id) {
    <ng-container
      [ngTemplateOutlet]="appTemplate"
      [ngTemplateOutletContext]="{ app: app }"
    ></ng-container>
  }
  <h3 class="games-header">Game List</h3>
  @for (app of pipGamesChanges | async; track app.id) {
    <ng-container
      [ngTemplateOutlet]="appTemplate"
      [ngTemplateOutletContext]="{ app: app }"
    ></ng-container>
  }
} @else {
  Loading apps...
}

<ng-template #appTemplate let-app="app">
  <section>
    <h4>{{ app.name }}</h4>
    <mat-accordion displayMode="flat">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Information</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          <strong>Author:</strong> {{ app.author }}
          {{ app.homepage ? '&lt;' + app.homepage + '&gt;' : '' }}
        </p>
        <p><strong>Description:</strong> {{ app.description }}</p>
        <p><strong>Instructions:</strong> {{ app.instructions }}</p>
        <p *ngIf="app.tip"><strong>Tip:</strong> {{ app.tip }}</p>
        <p>
          <strong>File:</strong>
          <a [href]="app.url" target="_blank"> USER/{{ app.id }}.js</a>
        </p>
        <p><strong>Version:</strong> {{ app.version }}</p>
      </mat-expansion-panel>
    </mat-accordion>
    <pip-button
      [disabled]="
        !signals.isConnected() ||
        signals.disableAllControls() ||
        signals.isUploadingFile() ||
        isAppInfoUploaded(app)
      "
      (click)="install(app)"
      class="install-button"
      >Install {{ app.name }}</pip-button
    >
    <pip-button
      [disabled]="
        !signals.isConnected() ||
        signals.disableAllControls() ||
        signals.isUploadingFile() ||
        !isAppInfoUploaded(app)
      "
      class="delete-button"
      (click)="delete(app)"
      >Delete {{ app.name }}</pip-button
    >
    <pip-button
      [disabled]="
        !signals.isConnected() ||
        signals.disableAllControls() ||
        signals.isUploadingFile() ||
        !isAppInfoUploaded(app)
      "
      (click)="launch(app)"
      >Launch {{ app.name }}</pip-button
    >
  </section>
</ng-template>
