<h3>App & Games List</h3>
@if (pipAppsChanges | async; as apps) {
  @for (app of apps; track app.id) {
    <section>
      <h4>{{ app.name }}</h4>
      <mat-accordion displayMode="flat">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Information</mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            <strong>Author:</strong> {{ app.author }}
            {{ app.homepage ? '&lt;' + app.homepage + '&gt;' : '' }}
          </p>
          <p><strong>Description:</strong> {{ app.description }}</p>
          <p><strong>Instructions:</strong> {{ app.instructions }}</p>
          <p *ngIf="app.tip"><strong>Tip:</strong> {{ app.tip }}</p>
          <p>
            <strong>File:</strong>
            <a [href]="app.url" target="_blank"> USER/{{ app.id }}.js</a>
          </p>
          <p><strong>Version:</strong> {{ app.version }}.js</p>
        </mat-expansion-panel>
      </mat-accordion>
      <pip-button
        [disabled]="
          !signals.isConnected() ||
          signals.disableAllControls() ||
          signals.isUploadingFile()
        "
        (click)="launchApp(app)"
      >
        Launch {{ app.name }}
      </pip-button>
    </section>
  }
} @else {
  Loading apps...
}
<section>
  <h4>Other Apps</h4>
  <p>
    More apps & games will be added here in the future. Feel free to contribute
    your own custom apps and games by checking out the open-source repository on
    GitHub
    <a href="https://github.com/CodyTolene/pip-apps" target="_blank">here</a>.
  </p>
</section>
<pip-button [disabled]="true"> More to come... </pip-button>
