<h3>App & Games List</h3>
@if (pipAppsChanges | async; as apps) {
  @for (app of apps; track app.id) {
    <section>
      <h4>{{ app.name }}</h4>
      <mat-accordion displayMode="flat">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Information</mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            <strong>Author:</strong> {{ app.author }}
            {{ app.homepage ? '&lt;' + app.homepage + '&gt;' : '' }}
          </p>
          <p><strong>Description:</strong> {{ app.description }}</p>
          <p><strong>Instructions:</strong> {{ app.instructions }}</p>
          <p *ngIf="app.tip"><strong>Tip:</strong> {{ app.tip }}</p>
          <p>
            <strong>File:</strong>
            <a [href]="app.url" target="_blank"> USER/{{ app.id }}.js</a>
          </p>
          <p><strong>Version:</strong> {{ app.version }}</p>
        </mat-expansion-panel>
      </mat-accordion>
      <pip-button
        [disabled]="
          !signals.isConnected() ||
          signals.disableAllControls() ||
          signals.isUploadingFile()
        "
        (click)="launchApp(app)"
      >
        Launch {{ app.name }}
      </pip-button>
    </section>
  }
} @else {
  Loading apps...
}
<section>
  <h4>Other Apps</h4>
  <p>
    Additional apps and games will be available here over time as the project
    continues to grow. If you're interested in contributing, you're welcome to
    explore the open-source repository on
    <a
      href="https://github.com/CodyTolene/pip-apps"
      target="_blank"
      rel="noopener noreferrer"
      >GitHub</a
    >
    and submit your own custom creations!
  </p>
</section>
<pip-button (click)="goToAppsGithub()">Get Started Now!</pip-button>
