@use '../../styles/animations/border-animation' as ani;
@use '../../styles/breakpoints' as bps;
@use '../../styles/colors' as col;
@use '../../styles/scrollbar' as sb;

:host {
  border: 2px dashed transparent;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &:hover {
    @include ani.borderAnimation;
  }
}

h3 {
  margin-top: 0;
  width: 100%;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;

  section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex: 0 1 calc(50% - 0.5rem);
    align-content: flex-start;

    @include bps.media('max', 'md') {
      flex: 0 1 calc(100%);
    }
  }
}

pip-button {
  flex: 0 1 calc(100%);

  &.install-button,
  &.delete-button {
    flex: 0 1 calc(50% - 0.5rem);

    @include bps.media('max', 'sm') {
      flex: 0 1 calc(100%);
    }
  }
}

p {
  margin-top: 0;
}

mat-accordion {
  display: flex;
  margin-bottom: 0;
  width: 100%;

  mat-expansion-panel {
    width: 100%;
  }
}

.apps-header {
  margin-top: 0;
  margin-bottom: 1rem;
}

.games-header {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

a:hover {
  color: col.$pip-green-darkest;
}
